@font-face {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
    font-size: 12px;
    background-color:white;
   p:
  
}

body {
padding-top: 60px;
padding-bottom: 40px;
}

.slide {
padding-top: 30px;
padding-bottom: 30px;
}


h1,h2,h3,h4,h5 {
    "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h4 {
    font-weight: 300;
}

.brand {
vertical-align: middle;
font-size: 20px;
   font-weight: 700;
}

.main-nav {
vertical-align: middle;
font-size: 18px;
   font-weight: 350;
}

.ndex-section {
font-size: 18px;

}

.networkTitle{
font-size: 14px;
font-weight: 350;
}

.elementCount{
font-weight: 500;
}

.tab-title{
font-size: 16px;
font-weight: 300;
}

.background-contrast {
background-color:white;
}

#cy {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color:rgb(100,100,100);
}

/*---------Windows Style Icon Classes---------------*/
.win8{
	min-height: 20px;
 	padding: 19px;
 	margin-bottom: 20px;
  	border: 1px solid #e3e3e3;
  	-webkit-border-radius: 4px;
 	 -moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding:50px;
	position:relative;
	height:30em;
}


.lightGray{
	background-color:#D7FCFF;
}

.lightGrayBlue{
	background-color:#E3F7FF;
}

#mainP{
	margin-right:8%;
	position:absolute;
	top:50%;
}

.win8 h2{
	text-align: center;
	padding-bottom:1em;
}

.win8 button {
	width:50%;
	position:absolute;	/*--setting parent tag to a relative position and target tag to absolue position allows for fixed position to bottom of parent tag.*/
	bottom: 3em;
	right:25%;
	left:25%;
}
/*--------------------------------------------------------*/
.footer{
	background-color:white;
	width:100%;
	height:2em;
}
.footer p{
	margin:0% 10% 0%;
}
.searchInfo{
	min-height: 20px;
 	padding: 19px;
 	margin-bottom: 20px;
  	border: 1px solid #e3e3e3;
  	-webkit-border-radius: 4px;
 	 -moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.profie{
	
}

.profile h3{
	text-align:center;
	padding-bottom:1em;
}

.term{
	font-size:14px;
	color:#00B8D9;
}

.predicateName{
	color:#FF8E08;
}

.edge{
	padding-bottom:1em;
}
.node{
	padding-bottom:1em;
}

#workSurface{
/*This fixed position along with overflow attribute create constant size for div and add scrollbar*/
	position:absolute;
	top:75px;
	right: 10px;
	bottom:175px;
        width: 160px;
        overflow-y: auto;
        margin:5px;
}
#sidebar{
/*Used to position the sidebar on the side of the page, not sure if so many divs are needed*/
	position:absolute;
	top:40px;
	right:0px;
	bottom:150px;
	width:20px;
	padding:0px;
	margin:0;
}
#stay{
/*Used to keep the sidebar fixed in the window regardless of the where the scroll is moved*/
	height:100%;
	width:200px;
	margin:0;
	padding:0;
}
#tools{
	/*sidebar*/
	position:absolute;
	height:100px;
	bottom:50px;
	right:5px;
	width:170px;

}
#image{
	width:100%;
	min-width:100%;
	padding:0;
	margin:0;
	position:relative;
	}
.bckImg{
	width:100%;
	height:200px;
	padding:0;
	position:relative;
	left:0;
	top:0;
}
.foreImg{
	width:15%;
	position:absolute;
	left:5%;
	top:15%;
	border-width:3px;
	border-color:blue;
}
/*--for the sidebar-- */
.workspace{
	border:2px solid;
	border-color:black;
	-webkit-border-radius: 4px;
 	 -moz-border-radius: 4px;
  	border-radius: 4px;
}
.thumbText{
	font-size:10px;
	font-weight:600;
	text-align:center;
}
.thumbIcon{
	width:120px;
	height:100px;
	background:white;
}
/*-- --*/
.pageTitle{
	
	padding-bottom:10px;
}
.day{
	width:2em;
}
.year{
	width:3em;
}
.month{
	width:7.5em;
}
/*---- --*/
.notifications{
	/*-add left and right margins, maybe grey background color*/ 
	background-color: white;
	padding:0px 0px;
	border: 2px solid #EBEBEB;
  	-webkit-border-radius: 2px;
 	 -moz-border-radius: 2px;
  	border-radius: 2px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.notificationsHeader{
	background-color: #f5f5f5;
	margin:0px;
	padding:5px;
	font-size:14px;
	font-weight:600;
}
.unread{
	font-weight:600;
}
.read{
	font-weight:200;
}
.requestModalLabel{
	font-weight:900;
	text-align:right;
}
/*--- page menus --*/
a.ndex-options{
	padding: 19px 15px;
	font-size: 23px;
	margin-top: 4px;
	color: #1F1D1D ;
}
a.ndex-options:hover{
	color: #3366BB;
	text-decoration:none;
}
/*----------------------*/

.requestFormat{
	margin: 5px;
}
