/******************************************************************************
* Smaller than standard 960 (devices and browsers)
******************************************************************************/
@media only screen and (max-width: 959px)
{
    .navbar-fixed-top,
    .navbar-fixed-bottom
    {
        position: fixed;
    }


    #tblSearchResults
    {
        width: 100%;
    }

    #divModal
    {
        width: 50%;
    }
}

/******************************************************************************
* Tablet Portrait size to standard 960 (devices and browsers)
******************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 959px)
{
    #imgProfile
    {
        top: 25%;
    }

    #imgProfileBackground
    {
        height: 150px;
    }
}

/******************************************************************************
* All Mobile Sizes (devices and browser)
******************************************************************************/
@media only screen and (max-width: 767px)
{
    #imgProfile
    {
        top: 40%;
    }

    #imgProfileBackground
    {
        height: 150px;
    }

    #divModal
    {
        width: 100%;
    }
}

/******************************************************************************
* Mobile Landscape Size to Tablet Portrait (devices and browsers)
******************************************************************************/
@media only screen and (min-width: 481px) and (max-width: 767px)
{

}

/******************************************************************************
* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
******************************************************************************/
@media only screen and (max-width: 480px)
{
    body
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    input, textarea, .uneditable-input
    {
        width: 175px;
    }

    nav
    {
        margin-bottom: 20px;
    }

    select
    {
        width: auto;
    }

    .mobile-hide,
    [class*=" icon-"].mobile-hide
    {
        display: none;
    }

    .navbar-fixed-top
    {
        position: static;
    }

    .navbar .brand
    {
        margin-left: 0;
    }

    .navbar .btn-navbar
    {
        margin-left: 0;
        margin-right: 0;
    }

    .tabbable table
    {
        width: 100%;
    }

    #divLogin,
    #divJoin
    {
        width: 100%;
    }

    #frmLogin .Attribute-Editable,
    #frmJoin .Attribute-Editable,
    #frmSearch .Attribute-Editable
    {
        display: none;
    }

    #frmLogin div,
    #frmJoin div,
    #frmSearch div
    {
        text-align: center;
    }

    #divSidebar
    {
        position: absolute;
        top: 52px;
    }

    #divUser div.dropdown,
    #divGroup div.dropdown
    {
        display: block;
        left: 0;
        position: relative;
        text-align: left;
    }

    #imgProfile
    {
        top: 20%;
    }

    #imgProfileBackground
    {
        height: 120px;
    }

    #divUser div.tabbable,
    #divGroup div.tabbable
    {
        margin-bottom: 50px;
    }

    #divNotifications
    {
        margin-bottom: 20px;
    }

    #divNetwork > dl.Accordion
    {
        width: 97%;
    }

    #divNetwork > dl.Accordion dt
    {
        display: block;
    }

    #ddMetadata,
    #ddSearchNetwork,
    #ddSubnetwork
    {
        position: static;
        width: 100%;
    }

    #divNetwork h3 > input.Invisible
    {
        font-size: 24px;
        width: 90%;
    }

    #ddMetadata textarea
    {
        height: 60px;
        width: 90%;
    }

    #ulMetadata input
    {
        width: 160px;
    }

    #ddSearchNetwork #divSearch input
    {
        width: 80%;
    }

    #ddSearchNetwork dl.Accordion
    {
        width: 90%;
    }

    #ulSubnetwork
    {
        width: 92%;
    }

    #ulSubnetwork li
    {
        padding: 0.5em 0;
    }

    #ulSubnetwork li:nth-child(odd)
    {
        background: #DDD;
        background: linear-gradient(center top, #FFF, #DDD);
        background: -moz-linear-gradient(center top, #FFF, #DDD);
        background: -ms-linear-gradient(center top, #FFF, #DDD);
        background: -o-linear-gradient(center top, #FFF, #DDD);
        background: -webkit-linear-gradient(top, #FFF, #DDD);
        border-top: 1px solid #666;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF", endColorstr="#DDD");
    }

    #ulSubnetwork li:nth-child(even)
    {
        background: #BBB;
        background: linear-gradient(center top, #DDD, #BBB);
        background: -moz-linear-gradient(center top, #DDD, #BBB);
        background: -ms-linear-gradient(center top, #DDD, #BBB);
        background: -o-linear-gradient(center top, #DDD, #BBB);
        background: -webkit-linear-gradient(top, #DDD, #BBB);
        border-top: 1px solid #666;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DDD", endColorstr="#BBB");
    }

    #ulSubnetwork > li > strong:first-child
    {
        display: block;
    }

    #ulSubnetwork em
    {
        display: block;
        text-align: center;
    }

    #ulSubnetwork > li > strong:last-child
    {
        display: block;
        text-align: right;
    }
}