@font-face {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
    font-size: 12px;
    background-color:white;
   p:
  
}

body {
padding-top: 60px;
padding-bottom: 40px;
}

.slide {
padding-top: 30px;
padding-bottom: 30px;
}


h1,h2,h3,h4,h5 {
    "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h4 {
    font-weight: 300;
}

.brand {
vertical-align: middle;
font-size: 20px;
   font-weight: 700;
}

.main-nav {
vertical-align: middle;
font-size: 18px;
   font-weight: 350;
}

.ndex-section {
font-size: 18px;

}

.networkTitle{
font-size: 14px;
font-weight: 350;
}

.elementCount{
font-weight: 500;
}

.tab-title{
font-size: 16px;
font-weight: 300;
}

.background-contrast {
background-color:white;
}

#cy {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color:rgb(100,100,100);
}

/*---------Windows Style Icon Classes---------------*/
.win8{
	min-height: 20px;
 	padding: 19px;
 	margin-bottom: 20px;
  	border: 1px solid #e3e3e3;
  	-webkit-border-radius: 4px;
 	 -moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding:50px;
	position:relative;
	height:30em;
}


.lightGray{
	background-color:#D7FCFF;
}

.lightGrayBlue{
	background-color:#E3F7FF;
}

#mainP{
	margin-right:8%;
	position:absolute;
	top:50%;
}

.win8 h2{
	text-align: center;
	padding-bottom:1em;
}

.win8 button {
	width:50%;
	position:absolute;	/*--setting parent tag to a relative position and target tag to absolue position allows for fixed position to bottom of parent tag.*/
	bottom: 3em;
	right:25%;
	left:25%;
}
/*--------------------------------------------------------*/
.footer{
	background-color:white;
	width:100%;
	height:2em;
}
.searchInfo{
	min-height: 20px;
 	padding: 19px;
 	margin-bottom: 20px;
  	border: 1px solid #e3e3e3;
  	-webkit-border-radius: 4px;
 	 -moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


