.DS_Store
node_modules/*
test_db/test_networks/*
test_db/test_networks/pc_sif/*
test_db/test_accounts/*
account_img/users/foreground/*
account_img/users/background/*
account_img/groups/foreground/*
account_img/groups/background/*
unit_test/node_modules/*
.idea/*
views/*~
routes/*~
js/*~
*~