<% include head.ejs %>
<% include nav.ejs %>
<h1>About NDEx</h1>

<p>NDEx will be an open-source, web-based software system to enable individuals, groups, and
    software applications to share, store, manipulate, and publish biological network knowledge. </p>

<p>NDEx is a project of the <a href="http://www.cytoscape.org" target="_blank">Cytoscape Consortium </a> in conjunction
    with the <a href="http://www.idekerlab.ucsd.edu" target="_blank">Ideker Lab at the UCSD School of Medicine.</a></p>

<p>Learn more about NDEx at the <a href="http://ndexbio.org" target="_blank">NDEx Project Site.</a></p>

<p>Techincal details for NDEx are documented at the <a href="http://www.github.com/cytoscape/NDEx-Site/wiki"
                                                       target="_blank">NDEx Github Repository Wiki.</a>


    </html>

    <script>
        ndexUI.initPage();
    </script>