<% include head.ejs %>
<% include nav.ejs %>

<h1>New Group</h1>

<div class=''>
	<form name="Create Group" id="createGroupForm">
		<div class="control-group">
				<label class="control-label" for="inputGroupName">Group Name</label>
				<div class="controls">
					<input  type="text" id="inputGroupName" name="groupName">
				</div>
		</div>

		<hr>
		<input type="submit" value="Submit">
	</form>
	
</div>


<script>
/* attach a submit handler to the form */
$('#createGroupForm').submit(function(event) {

    event.preventDefault();  // stop form from submitting normally

	ndexClient.createGroup = function(ndexUI.user.id, $('#inputGroupName').val(),
		    function(data) {
    	        //
    	        // Success: redirect to edit the profile of the new group
    	        //
    			window.location = "/editGroupProfile/" + data.jid
    			} else {
                    alert("Local storage not available, can't store login information");
    			}
    		},
    		function(error) {
    		    //
    		    // Failure: display message
    		    //
    			if(error.status == 401) {
    				$('#message').html('Invalid username and password');
    				if(typeof(Storage)!=="undefined") {
    			  		localStorage.ndexUsername = '';
    			  		localStorage.ndexPassword = '';
    					localStorage.ndexJid = '';
    				}
    				$('#loginForm').submit();
    			}
    			//console.log(JSON.stringify(error));
    		});
});


</script>

<% include foot.ejs%>
