<% include head.ejs %>
<% include nav.ejs %>

<h1>New Group</h1>
<p id="message"></p>
<div class=''>
    <form name="Create Group" id="createGroupForm">
        <div class="control-group">
            <label class="control-label" for="inputGroupName">Group Name</label>

            <div class="controls">
                <input type="text" id="inputGroupName" name="groupName">
            </div>
        </div>

        <hr>
        <input type="submit" value="Submit">
    </form>

</div>


<script>
    /* attach a submit handler to the form */
    $('#createGroupForm').submit(function (event) {

        event.preventDefault();  // stop form from submitting normally

        var groupName = $('#inputGroupName').val();

        ndexClient.createGroup(ndexUI.user.id, groupName,
                function (data) {
                    //
                    // Success: redirect to edit the profile of the new group
                    //
                    window.location = "/editGroupProfile/" + data.jid;
                },
                function (error) {
                    //
                    // Failure: display message
                    //
                    ndexUI.formatError(error);
                });
    });


    ndexUI.initPage();


</script>

<% include foot.ejs %>
