<% include head.ejs %>
<script src="/js/cytoscape.js"></script>

<div id="cy"></div>

<script>

function convertToRID(id){
	return id.replace("C","#").replace("R", ":");
}

// the network id passed from the ejs template
var networkId = convertToRID('<%= networkId %>');

function formatError(error){

}

// On load, we get the network, then push it to cytoscape.js on the callback
$(ndexClient.getNetwork(networkID, function(data){
		console.log("Got results from getNetwork");
		console.log(data);
		var edges = data.network.edges;
		for (i in edges){
			var edge = edges[i];
			console.log(edge.id);
		}
		
		var cyNetworkParams = {

		  layout: {
			name: 'circle'
		  },
  
		  style: cytoscape.stylesheet()
			.selector('node')
			  .css({
				'shape': 'data(faveShape)',
				'width': 'mapData(weight, 40, 80, 20, 60)',
				'content': 'data(name)',
				'text-valign': 'center',
				'text-outline-width': 2,
				'text-outline-color': 'data(faveColor)',
				'background-color': 'data(faveColor)',
				'color': '#fff'
			  })
			.selector(':selected')
			  .css({
				'border-width': 3,
				'border-color': '#333'
			  })
			.selector('edge')
			  .css({
				'width': 'mapData(strength, 70, 100, 2, 6)',
				'target-arrow-shape': 'triangle',
				'source-arrow-shape': 'circle',
				'line-color': 'data(faveColor)',
				'source-arrow-color': 'data(faveColor)',
				'target-arrow-color': 'data(faveColor)'
			  })
			.selector('edge.questionable')
			  .css({
				'line-style': 'dotted',
				'target-arrow-shape': 'diamond'
			  })
			.selector('.faded')
			  .css({
				'opacity': 0.25,
				'text-opacity': 0
			  })
			};
			
  		var elements = {nodes: [], edges: []};
  		
  		$.each(data.network.nodes, function(index, node){
  			var cyNode = {data:{id: node.id, name: node.id}};
  			elements.nodes.push(cyNode);
  		
  		});
  		
  		$.each(data.network.edges, function(index, edge){
  			var cyEdge = {data: {source: edge.s.id, target: edge.o.id}};
  			elements.edges.push(cyEdge);
  		});
  		
  		cyNetworkParams.elements = elements;
  		
  		$('#cy').cytoscape(cyNetworkParams);

    },
    // error handler
    function(error){
    	$('#results').append(formatError(error));
    });
});
</script>

<% include foot.ejs %>