<% include head.ejs %>
<% include navigation.ejs %>

<h1>Edit Group Profile</h1>
<p id="message"></p>
<div class=''>
    <hr>
    <form name="Edit Group Profile" id="updateGroupProfileForm">
        <div class="control-group">
            <div class="control-group">
                <label class="control-label" for="inputOrganizationName">Organization Name</label>

                <div class="controls">
                    <textarea rows="3" id="inputOrganizationName" name="organizationName"
                              placeholder="the full name of the organization"></textarea></div>
            </div>
            <label class="control-label" for="inputWebsite">Associated Website</label>

            <div class="controls">
                <input type="text" id="inputWebsite" name="website"></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescription">Description</label>

            <div class="controls">
                <textarea rows="3" id="inputDescription" name="description"
                          placeholder="A brief description of your group (i.e., mission statement, purpose, etc.)"></textarea>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>

</div>

<!--

		<div class="control-group">
				<label class="control-label" for="inputForegroundImg">Profile Picture</label>
				<div class="controls">
					<input  type="file" id="inputForegroundImg" name="foregroundImg"></div></div>
		<div class="control-group">
				<label class="control-label" for="inputBackgroundImg">Cover Photo</label>
				<div class="controls">
					<input  type="file" id="inputBackgroundImg" name="backgroundImg"></div></div>
		<hr>
-->

<script>
    // the group id passed from the ejs template
    var groupId = '<%= groupId %>';


    /* attach a submit handler to the form */
    $('#updateGroupProfileForm').submit(function (event) {

        event.preventDefault();  // stop form from submitting normally
        var profile = {};

        profile.website = $('#inputWebsite').val();
        profile.description = $('#inputDescription').val();
        profile.organizationName = $('#inputOrganizationName').val();

        console.log("calling updateGroupProfile");

        ndexClient.updateGroupProfile(groupId, profile,
                function (data) {
                    //
                    // Success: redirect to view the group
                    //
                    window.location = "/viewGroup/" + groupId;
                },
                function (error) {
                    //
                    // Failure: display message
                    //
                    ndexUI.formatError(error);
                });
    });

    ndexUI.initPage(function () {
// update the form
        console.log("calling getGroup to initialize form");
        $(ndexClient.getGroup(groupId,
                // success
                function (data) {
                    console.log("Got results from getGroup");
                    console.log(data);

                    //ndexUI.addProfileImages(data.group.groupname);

                    var profile = data.group.profile;
                    if (profile) {
                        if (profile.website) $('#inputWebsite').val(profile.website);
                        if (profile.description) $('#inputDescription').val(profile.description);
                        if (profile.organizationName) $('#inputOrganizationName').val(profile.organizationName);
                    }

                },
                // error handler
                function (error) {
                    ndexUI.formatError(error);
                })
        );
    });
</script>

<% include footer.ejs %>

