<% include head.ejs %>
<% include nav.ejs %>

<h1>Edit My Profile</h1>

<p>in progress </p>

<script>
// exports.updateUserProfile = function(userid, profile, callback, errorHandler){

</script>

<% include foot.ejs %>
