<% include head.ejs %>
<% include nav.ejs %>

<h1>Edit My Profile</h1>
<p id ="message"></p>
<div class=''>
    <hr>
    <form name="Edit User Profile" id="updateUserProfileForm">
        <div class="control-user">
            <div class="control-user">
                <label class="control-label" for="inputFirstName">First Name</label>
                <div class="controls">
                    <textarea rows="3" id="inputFirstName" name="firstName" placeholder="given or personal name"></textarea></div></div>

            <div class="control-user">
                <label class="control-label" for="inputLastName">Last Name</label>
                <div class="controls">
                    <textarea rows="3" id="inputLastName" name="lastName" placeholder="surname, family name"></textarea></div></div>

           <label class="control-label" for="inputWebsite">Associated Website</label>
            <div class="controls">
                <input  type="text" id="inputWebsite" name="website"></div></div>
        <div class="control-user">
            <label class="control-label" for="inputDescription">Description</label>
            <div class="controls">
                <textarea rows="3" id="inputDescription" name="description" placeholder="A brief description of your user (i.e., mission statement, purpose, etc.)"></textarea></div></div>
        <input type="submit" value="Submit">
    </form>

</div>

<!--

		<div class="control-user">
				<label class="control-label" for="inputForegroundImg">Profile Picture</label>
				<div class="controls">
					<input  type="file" id="inputForegroundImg" name="foregroundImg"></div></div>
		<div class="control-user">
				<label class="control-label" for="inputBackgroundImg">Cover Photo</label>
				<div class="controls">
					<input  type="file" id="inputBackgroundImg" name="backgroundImg"></div></div>
		<hr>
-->

<script>

    // update the form
    console.log("calling getUser to initialize form");
    $(ndexClient.getUser(ndexUI.user.id,
            // success
            function(data){
                console.log("Got results from getUser");
                console.log(data);

                //ndexUI.addProfileImages(data.user.username);

                var profile = data.user.profile;
                if (profile){
                    if (profile.website) $('#inputWebsite').val(profile.website);
                    if (profile.description) $('#inputDescription').val(profile.description);
                    if (profile.firstName) $('#inputFirstName').val(profile.firstName);
                    if (profile.lastName) $('#inputLastName').val(profile.lastName);
                }

            },
            // error handler
            function(error){
                ndexUI.formatError(error);
            })
    );


    /* attach a submit handler to the form */
    $('#updateUserProfileForm').submit(function(event) {

        event.preventDefault();  // stop form from submitting normally
        var profile = {};

        profile.website = $('#inputWebsite').val();
        profile.description = $('#inputDescription').val();
        profile.firstName = $('#inputFirstName').val();
        profile.lastName = $('#inputLastName').val();

        console.log("calling updateUserProfile");

        ndexClient.updateUserProfile(ndexUI.user.id, profile,
                function(data) {
                    //
                    // Success: redirect to view the user
                    //
                    window.location = "/viewUser/" + ndexUI.user.id;
                },
                function(error) {
                    //
                    // Failure: display message
                    //
                    ndexUI.formatError(error);
                });
    });


</script>


<% include foot.ejs %>
