<% include header.ejs %>
<% include navigation.ejs %>

<div id="divFeedback">
    <h1>Feedback</h1>

    <p>Let us know how we're doing!</p>

    <form id="frmFeedback">
        <div>
            <label class="Attribute-Editable">Type:</label>
            <select data-bind="value: Type">
                <option value="Bug Report">Bug Report</option>
                <option value="Comment">Comment</option>
                <option value="Criticism">Criticism</option>
                <option value="Question">Question</option>
            </select>
        </div>

        <textarea data-bind="value: Text, valueUpdate: 'keyup'"></textarea>

        <div class="AlignCenter">
            <button type="submit" data-bind="enable: Text">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/js/feedback.js"></script>

<% include footer.ejs %>