    </div>

    <div id="divModalBackground"></div>
    <div id="divModal">
      <div class="Title">
        <span></span>
        <div class="BorderRadiusFix"></div>
        <button id="btnCloseModal" class="Red Close">X</button>
      </div>

      <div id="divModalContent"></div>
    </div>

    <footer class="navbar navbar-fixed-bottom">
      <p class="pull-right">&copy; Cytoscape Consortium 2013</p>
    </footer>

    <script type="text/html" id="loadingImage">
      <img src="/img/loading.gif" />
      <h4>Please wait...</h4>
    </script>
    <script type="text/html" id="confirmAction">
      <h4></h4>

      <img src="/images/alert.png" style="DISPLAY: block; MARGIN: 20px auto;" />

      <button type="button" id="btnConfirm">Yes</button>
      <button type="button" id="btnDecline">No</button>
    </script>
  </body>
</html>