<% include header.ejs %>
<% include navigation.ejs %>

<div id="divGroup" class="row-fluid" data-bind="with: Group">
    <div class="span7">
        <div id="divProfileImages">
            <div>
                <img id="imgProfile" data-bind="attr: { src: '../account_img/foreground/' + name() + '.jpg' }" />
            </div>

            <div>
                <img id="imgProfileBackground" data-bind="attr: { src: '../account_img/background/' + name() + '.jpg' }" />
            </div>
        </div>

        <div class="tabbable">
            <ul class="nav nav-tabs tab-title">
                <li class="active">
                    <a href="#divNetworks" data-toggle="tab">
                        <i class="icon-exchange"></i>
                        Networks
                    </a>
                </li>
                <li>
                    <a href="#divMembers" data-toggle="tab">
                        <i class="icon-male"></i>
                        Members
                    </a>
                </li>
                <li data-bind="if: false">
                    <a href="#divAgentAccounts" data-toggle="tab">
                        <i class="icon-cogs"></i>
                        Agents
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="divNetworks" class="tab-pane active">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2">Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: networks">
                        <tr>
                            <td>
                                <i class="icon-chevron-right"></i>
                            </td>
                            <td>
                                <a data-bind="text: resourceName, attr: { href: '/network/' + resourceId() }"></a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="javascript:void()" class="btn" title="Add to Work Surface">
                                        <!-- ko if: WorkSurface.isOnWorkSurface(jid()) -->
                                        <i class="icon-plus icon-white" data-bind="click: WorkSurface.addNetwork"></i>
                                        <!-- /ko -->
                                        <!-- ko if: !WorkSurface.isOnWorkSurface(jid()) -->
                                        <i class="icon-minus icon-white" data-bind="click: WorkSurface.removeNetwork"></i>
                                        <!-- /ko -->
                                    </a>

                                    <!-- ko if: !Group.canEdit() -->
                                    <a href="javascript:void()" class="btn" title="Request access">
                                        <i class="icon-envelope-alt" data-bind="click: User.requestNetworkAccess"></i>
                                    </a>
                                    <!-- /ko -->

                                    <a data-bind="attr: { href: '/network/' + jid() + '/visualize' }" class="btn" target="_blank" title="Visualize network">
                                        <i class="icon-eye-open"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="divMembers">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <!-- ko if: Group.canEdit() -->
                                <th>Permissions</th>
                                <!-- /ko -->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: members">
                            <tr>
                                <td data-bind="text: resourceName"></td>
                                <!-- ko if: Group.canEdit() -->
                                <td data-bind="text: permissions"></td>
                                <!-- /ko -->
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="divAgentAccounts"></div>
            </div>
        </div>
    </div>

    <div id="profile" class="span3">
        <h3>
            <input type="text" class="Invisible" readonly placeholder="Name" data-bind="value: name, isEditable: Group.ViewModel.Group().id(), event: { change: Group.updateGroup }" />
        </h3>

        <div>
            <input type="text" class="Invisible" readonly placeholder="Organization Name" data-bind="value: organizationName, isEditable: Group.ViewModel.Group().id(), event: { change: Group.updateGroup }" />
        </div>

        <div>
            <!-- ko if: Group.canEdit() -->
            <input type="text" class="Invisible" placeholder="Website URL" readonly data-bind="value: website, isEditable: Group.ViewModel.Group().id(), event: { change: Group.updateGroup }" />
            <!-- /ko -->
            <!-- ko if: !Group.canEdit() -->
            <a target="_blank" data-bind="text: website, attr: { href: website() }"></a>
            <!-- /ko -->
        </div>

        <textarea class="Invisible" style="height: 60px; width: 100%;" readonly placeholder="Description" data-bind="value: description, isEditable: Group.ViewModel.Group().id(), event: { change: Group.updateGroup }"></textarea>
    </div>

    <div class="span2 dropdown">
        <a class="ndex-options dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog icon-large"></i>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a href="#displayOptions" data-toggle="modal">Display Options</a>
            </li>
            <!-- ko if: Group.canEdit() -->
            <li>
                <a href="/editGroupProfile/<%= groupId %>" class="accountMiniMenu">Edit Group Profile</a>
            </li>
            <li>
                <a href="#" class="accountMiniMenu">New Group Profile Image</a>
            </li>
            <li>
                <a href="#" class="accountMiniMenu">New Background Image</a>
            </li>
            <li>
                <a href="/sendRequest" class="accountMiniMenu">Create a Request</a>
            </li>
            <li>
                <a href="/editAgent" class="accountMiniMenu">Edit/Create Agent</a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>

<script type="text/javascript" src="/js/group.js"></script>
<script type="text/javascript">
    Group.ViewModel.GroupId("<%=groupId%>");
</script>

<% include worksurface.ejs %>
<% include footer.ejs %>
