<% var title = "Home"; %>
<% include header.ejs %>
<% include navigation.ejs %>


<div style="border: 1px solid #000; border-radius: 5px; margin: 60px 10px 0 10px; padding: 5%; text-align: center;">
<%- welcomeMessage %>
</div>


<% include footer.ejs %>