<% include head.ejs %>
<% include navigation.ejs %>

<h1>Join NDEx</h1>

<form id="frmJoin">
    <div>
        <label class="Attribute-Editable">Username:</label>
        <input type="text" data-bind="value: Username" placeholder="Username" />
    </div>

    <div>
        <label class="Attribute-Editable">Password:</label>
        <input type="password" data-bind="value: Password" placeholder="Password" />
    </div>

    <div>
        <label class="Attribute-Editable">Confirm:</label>
        <input type="password" data-bind="value: PasswordConfirmation" placeholder="Confirm password" />
    </div>

    <div>
        <label class="Attribute-Editable">Email:</label>
        <input type="email" data-bind="value: Email" placeholder="dpratt@cytoscape.com" />
    </div>

    <div class="AlignCenter" style="width: 350px;">
        <button type="submit">Submit</button>
    </div>
</form>

<script type="text/javascript" src="/js/join.js"></script>

<% include footer.ejs %>