<% include head.ejs %>
<% include nav.ejs %>

<h1>Log In</h1>

<form id="frmLogin">
  <div>
    <label class="Attribute-Editable">Username:</label>
    <input type="text" data-bind="value: Username" placeholder="Username" />
  </div>

  <div>
    <label class="Attribute-Editable">Password:</label>
    <input type="password" data-bind="value: Password" placeholder="Password" />
  </div>

  <div class="AlignCenter" style="width: 350px;">
    <button type="submit">Submit</button>
  </div>
</form>

<p>
  <small>Not an NDEx member? Click <a href="/join">here</a> to join.</small>
</p>

<script type="text/javascript" src="/js/login.js"></script>

<% include foot.ejs %>