<% include head.ejs %>
<% include nav.ejs %>

<h1>Sign In</h1>

<p id ="message"></p>


<form name="login" id="loginForm">
	<div>
	<label>Username:</label>
	<input type="text" name="username" id = "username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password" id = "password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<p><small>Not an NDEx member? click <a href="/join">here</a> to join</small></p> 

<script>

/* attach a submit handler to the form */
$('#loginForm').submit(function(event) {
	/* stop form from submitting normally */
    event.preventDefault();
	checkCredentials();
});

function checkCredentials() {
	
	ndexClient.authenticate($('#username').val(), $('#password').val(),
	    function(data) {
	        //
	        // Success: Set localStorage variables and redirect
	        //
			if(data && (typeof(Storage)!=="undefined")) {
		  		localStorage['ndexUsername'] = data.username;
		  		localStorage['ndexPassword'] = data.password;
				localStorage['ndexJid'] = data.jid;
				window.location = "/viewUser/" + data.jid
			} else {
                alert("Local storage not available, can't store login information");
			}
		},
		function(error) {
		    //
		    // Failure: clear localStorage variables and display message
		    //
			if(error.status == 401) { 
				$('#message').html('Invalid username and password'); 
				if(typeof(Storage)!=="undefined") {
			  		localStorage.ndexUsername = '';
			  		localStorage.ndexPassword = '';
					localStorage.ndexJid = '';
				}
				//$('#loginForm').submit();
			}
			//console.log(JSON.stringify(error));
		}	
	);
	
}
</script>

<% include foot.ejs %>