<% include head.ejs %>
<% include nav.ejs %>


<p id ="message"></p>


<form name="login" action="/login" method="post" id="loginForm" onsubmit="checkCredentials()"><!--action="/login" method="post" -->
	<div>
	<label>Username:</label>
	<input type="text" name="username" id = "username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password" id = "password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
<p><small>Hint - me5:pass</small></p>
<p><small>Not an NDEx member? click <a href="/join">here</a> to join</small></p> 

<script>

$('#loginForm').submit(function() {
	if(localStorage['ndexUsername'] == $('#username').val()){
		return true;
	}
	return false;
});

function checkCredentials() {
	
	ndexClient.authenticate($('#username').val(), $('#password').val(), function(data) {
			if(data && (typeof(Storage)!=="undefined")) {
		  		localStorage['ndexUsername'] = data.username;
		  		localStorage['ndexPassword'] = data.password;
				localStorage['ndexJid'] = data.jid;
				$('#loginForm').submit();
			}
			//console.log(JSON.stringify(data));
			
		},
		function(error) {
			if(error.status == 401) { 
				$('#message').html('Invalid username and password'); 
				if(typeof(Storage)!=="undefined") {
			  		localStorage.ndexUsername = '';
			  		localStorage.ndexPassword = '';
					localStorage.ndexJid = '';
					//$('#loginForm').submit();
				}
				$('#loginForm').submit();
			}
			//console.log(JSON.stringify(error));
		}	
	);
	
}
</script>
