
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container-fluid">
	  	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  		<span class="icon-bar"></span>
	  		<span class="icon-bar"></span>
	  		<span class="icon-bar"></span>
	  	</a>
			<a class="brand" href="/" ><b>NDEx</b></a>
			<!--<% if (user) {%> <%= user.username %><%}%>-->
	
			<div class="nav-collapse">
				<ul class="nav pull-left main-nav"> 
				  <li><a href="/searchNetworks">Networks</a></li>
				  <li><a href="/searchGroups">Groups</a></li>
				  <li><a href="/searchUsers">Users</a></li>
				  <% if (!user) { 
				  } else { %> 
				  <li><a href="/myAccount">My Account</a></li>
				  <li><a href="/ManageTasks">Tasks</a></li>
				  <li><a href="/UploadNetwork">Upload</a></li>
				  <%}%>
				  <% if (!user) {%> 
				  <li><a href="/login" >Sign in</a></li>
				  <%} else {%>
				  <li><a href="/logout" >Sign out</a></li>
				  <%}%>

				</ul>
				<ul class ="nav pull-right main-nav">
					<li> <a> <% if (user) {%> <%= user.username %><%}%> </a> </li>
				</ul>
			
			</div><!-- /.nav-collapse -->
	  </div><!-- /.container-fluid -->
    </div>
</div>


