


<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container-fluid">
	  	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  		<span class="icon-bar"></span>
	  		<span class="icon-bar"></span>
	  		<span class="icon-bar"></span>
	  	</a>
			<!---<a class="brand" href="/" ><b>NDEx</b></a>-->
			
				<a href="/" class ="brand dropwdown dropdown-toggle" data-toggle="dropdown" >NDEx</a>
				<ul class = "dropdown-menu" role = "menu">
					<li><a href = "/">Home</a></li>
					<li><a href = "#">Contact</a></li>
					<li><a href = "#">Policies</a></li>
				</ul>
		    
	
			<div class="nav-collapse">
				<ul class="nav pull-left main-nav"> 
				  <li class ="dropdown" >
					<a href="#" class ="dropdown-toggle" data-toggle="dropdown" >Networks</a>
					<ul class = "dropdown-menu" role = "menu">
						<li><a href = "/searchNetworks">Find Networks</a></li>
						<li><a id = "navUploadNetwork" href = "#" style="display:none">Upload Networks</a></li> <!--hide-->
					</ul>
				  </li>
				  <li class ="dropdown">
					<a  href="#" class ="dropdown-toggle" data-toggle="dropdown" >Groups</a>
					<ul class = "dropdown-menu" role = "menu">
						<li><a href = "/searchGroups">Find Groups</a></li>
						<li><a id = "navNewGroup" href = "#">New Group</a></li>
					</ul>
				  </li>
				  <li class ="dropdown">
					<a  href="#" class ="dropdown-toggle" data-toggle="dropdown" >Users</a>
					<ul class = "dropdown-menu" role = "menu">
						<li><a href = "/searchUsers">Find Users</a></li>
					</ul>
				  </li>
				  
				  <li id ="myAccount"  class ="dropdown" style="display:none">
					<a href="#" class ="dropdown-toggle" data-toggle="dropdown" >My Account</a>
				  	<ul class = "dropdown-menu" role = "menu">
						<li><a id = "toAccount" href = "/viewUser">My Account</a></li>
						<li><a id = "toGroups" href = "#" >My Groups</a></li>
						<li><a id = "toNetworks" href = "#" >My Networks</a></li>
					</ul>
				  </li>
				  <li id = "manageTasks" class ="dropdown" style="display:none">
					<a href="#" class ="dropdown-toggle" data-toggle="dropdown" >Tasks</a>
				  	<ul class = "dropdown-menu" role = "menu">
						<li><a href = "/ManageTasks">Show Tasks</a></li>
						<li><a href = "#">New Task</a></li>
					</ul>
				  </li>
				  <li id = "signIn" style="display:none"><a href="/login" >Sign in</a></li> 
				  <li id = "signOut" style="display:none"><a onclick = 'signout()' " >Sign out</a></li>

				</ul>
				<ul class ="nav pull-right main-nav">
					<li ><a href='#' id = "navname"> </a></li>
				</ul>
			
			</div><!-- /.nav-collapse -->
	  </div><!-- /.container-fluid -->
    </div>
</div>

<script>



//global user obj
var user = {};

function isSignedIn() {
	if(localStorage['ndexUsername'] == '') {
		console.log('not signed in');
		return false;
	} else {
		console.log('signed in');
		user.username = localStorage['ndexUsername'];
		user.jid = localStorage['ndexJid'];
		ndexClient.getUser(user.jid, function(data){
			//console.log(JSON.stringify(data));
			user.ownedNetworks = data.user.ownedNetworks;
			user.ownedGroups = data.user.ownedGroups;
			console.log('----' + JSON.stringify(user));
		});
		return true;
		
	}
}

function signout() {
	
	localStorage['ndexUsername'] = '';
	localStorage['ndexPassword'] = '';
	localStorage['ndexJid'] = '';

	window.location.href = "/";
	//console.log(JSON.stringify(localStorage));
}

if(isSignedIn()){
	$('#myAccount').attr('style','display:block');
	$('#manageTasks').attr('style','display:block');
	$('#signOut').attr('style','display:block');
	$('#navUploadNetwork').attr('style','display:block');
	$('#navNewGroup').attr('style','display:block');
	$('#signIn').attr('style','display:none');
	
	$('#toAccount').attr('href','/viewUser/' + user.jid);
	$('#toGroups').attr('href', '/viewUser/' + user.jid + '/#tab_ownedGroups');
	$('#toNetworks').attr('href', '/viewUser/' + user.jid + '/#tab_ownedNetworks');
	
	$('#navname').html(localStorage['ndexUsername']);


} else {
	$('#myAccount').attr('style','display:none');
	$('#manageTasks').attr('style','display:none');
	$('#signOut').attr('style','display:none');
	$('#navUploadNetwork').attr('style','display:none');
	$('#navNewGroup').attr('style','display:none');
	$('#signIn').attr('style','display:block');

	$('#navname').html('');
}

</script>

