<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!---<a class="brand" href="/" ><b>NDEx</b></a>-->

            <a href="/" class="brand dropwdown dropdown-toggle" data-toggle="dropdown">NDEx</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/policies">Policies</a></li>
                <li><a href="/about">About</a></li>
            </ul>


            <div class="nav-collapse">
                <ul class="nav pull-left main-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Networks</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/searchNetworks">Find Networks</a></li>
                            <li><a id="navUploadNetwork" href="/uploadNetwork" style="display:none">Upload Networks</a>
                            </li>
                            <!--hide-->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/searchGroups">Find Groups</a></li>
                            <li><a id="navNewGroup" href="/newGroup">New Group</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/searchUsers">Find Users</a></li>
                        </ul>
                    </li>

                    <li id="myAccount" class="dropdown" style="display:none">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="toAccount" href="/viewUser">My Account</a></li>
                            <li><a id="toGroups" href="#">My Groups</a></li>
                            <li><a id="toNetworks" href="#">My Networks</a></li>
                        </ul>
                    </li>
                    <li id="Tasks" class="dropdown" style="display:none">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/showTasks">Show Tasks</a></li>
                            <li><a href="/newTask">New Task</a></li>
                        </ul>
                    </li>
                    <li id="signIn" style="display:none"><a href="/login">Sign in</a></li>
                    <li id="signOut" style="display:none"><a onclick='ndexUI.signOut()'>Sign out</a></li>
                    <li id="signUp" style="display:none"><a href="/join">Join NDEx</a></li>

                </ul>
                <ul class="nav pull-right main-nav">
                    <li><a href='#' id="navname"> </a></li>
                </ul>

            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

<script>
    ndexUI.initPage();
</script>

