<nav id="navTop">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a href="/" class="brand">NDEx</a>

                <div class="nav-collapse">
                    <ul class="nav pull-left main-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search</a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/search/Groups">Groups</a>
                                </li>
                                <li>
                                    <a href="/search/Networks">Networks</a>
                                </li>
                                <li>
                                    <a href="/search/Users">Users</a>
                                </li>
                            </ul>
                        </li>
                        <li data-bind="if: User()">
                            <a data-bind="attr: { href: '/user/' + User().id() }">My Account</a>
                        </li>
                        <li class="dropdown hide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks</a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/showTasks">Show Tasks</a>
                                </li>
                                <li>
                                    <a href="/newTask">New Task</a>
                                </li>
                            </ul>
                        </li>
                        <li data-bind="if: !User()">
                            <a href="/login">Sign in</a>
                        </li>
                        <li data-bind="if: User()">
                            <a href="#" data-bind="click: NdexWeb.logOut">Sign out</a>
                        </li>
                        <li data-bind="if: !User()">
                            <a href="/join">Join NDEx</a>
                        </li>
                    </ul>

                    <ul class="nav pull-right main-nav">
                        <li>
                            <a href='#'></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>