<% include head.ejs %>
<% include navigation.ejs %>
<h1>NDEx Policies</p>

<h2>TODO: Appropriate Use</h2>

<ul>
<li>Limits on data size and access rates.    </li>
<li>Professional behavior expectations for Users.   </li>
<li>Falsification of identities. </li>
<li>Intellectual property and "take-down" policy  </li>
</ul>

TODO: link to report unprofessional, abusive or inappropriate behavior.

</html>