<% include head.ejs %>
<% include nav.ejs %>

<h1>Find Networks</h1>
<!-- btn-group from twitter allows for next div to be aligned and pulled right, easy fix-->
<div class="btn-group">
	<form onsubmit="return doSearch();" id="searchForm">
		<div>
		<label>Query:</label>
		<input type="text" name="searchExpression" id="searchExpression"/><br/>
		</div>

		<div>
		<input type="submit" value="Search"/>
		</div>
	</form>
</div>
<div class = "pull-right">
	<a class = "ndex-options" href = "#searchOptions" data-toggle="modal"> 
		<i class="icon-cog icon-large"></i> 
	</a>
</div>

<div id="searchResults">

</div>

<div id = "searchOptions" class = " modal hide fade" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
	<div class = "modal-header">
		<h4 id = "myModalLabel"> Network Search Options </h4>
	</div>
	<div class="modal-body">
		
		<label class = "span2">Search results per page: </label>
		<input id = "searchCount" type = "text" class = "span2" pattern = "" min = "1"> <br>
		<label class = "span2">Current page: </label>
		<input id = "searchPage" type = "text" class = "span2" pattern = "" min = "1" placeholder = "0"> <br>
		
	</div>
	<div class = "modal-footer">
		<button class = "btn" onclick = "doSearch()" data-dismiss = "modal" aria-hidden = "true"> Save Changes </button>
		<button class = "btn" data-dismiss = "modal" aria-hidden = "true"> Cancel </button>
	</div>
</div>

<script>
// On form submit, send the search expression to findNetworks
// with a limit of 100.
//TODO 
//DOM Elements depend on object JID for identification, consider using names instead.

function doSearch(offset) {
	var limitInput = document.getElementById('searchCount');
	var limit = $(limitInput).val();

	if(!offset) { offset = $('#searchPage').val(); }

	if(!limit) { 
		$(limitInput).val(2);
		limit = 2;
	}
	if(!offset) { offset = 1; }
	
	$('#searchPage').val(offset);
	offset = offset - 1;

	var searchExpression = $('#searchExpression').val().toUpperCase();

	console.log("Calling findNetworks with '" + searchExpression + "' " + limit + " " + offset);
	
	ndexClient.findNetworks(searchExpression, limit, offset,
        function(data){   // success handler
            console.log("Got results from findNetworks");
            console.log(data);
            for (i in data.networks){
                var network = data.networks[i];
                console.log(network.title);
            }

            // Clears the searchResults div
            $('#searchResults').html('<h3>Networks Found:</h3>');

            if (data.networks){
                $.each(data.networks, function(index, item){
                    $('#searchResults').append(formatNetworkDescriptor(item));
                });

                $('#searchResults').append(createPaginationModule(data.blockAmount, offset, 'doSearch'));
                $('#searchPage').attr('placeholder', 'max value: ' + data.blockAmount);
            }
        },

        function(error){     // error handler
            $('#searchResults').append(formatError(error));
        });
    
    return false;
}

function updateWorkspaceTools(jid){
//this is not in ndexUI.js because viewNetwork has a different version
	var tempLink = document.getElementById('link'+jid),
		tempIcon = document.getElementById('icon'+jid);

	isOnWorkspace(jid, function(found) {
		if (found) {
			$(tempLink).attr('onclick','removeFromWorkspace(this)');//
			$(tempIcon).attr('title','Remove from Workspace');
			tempIcon.className='icon-remove';
		}
		else{
			$(tempLink).attr('onclick','addToWorkspace(this)');
			$(tempIcon).attr('title','Add to Workspace');
			tempIcon.className='icon-plus icon-white';
		}
	});
}

</script>


<% include sidebar.ejs %>
<% include foot.ejs %>
