<% include head.ejs %>
<% include nav.ejs %>

<script>
// On form submit, send the search expression to findNetworks
// with a limit of 100.

function doSearch(offset) {
	var searchExpression = $('#searchExpression').val().toUpperCase(), 
		limit = 100
		count = 1;

	console.log("Calling findNetworks with '" + searchExpression + "' " + limit + " " + offset);
	
	ndexClient.findNetworks(searchExpression, limit, offset, function(data){
		console.log("Got results from findNetworks");
		console.log(data);
		for (i in data.networks){
			var network = data.networks[i];
			console.log(network.title);
		}
		
		// Clears the searchResults div
		$('#searchResults').html('');
		
		if (data.networks){
			$('#searchResults').append(tableHead());
			$.each(data.networks, function(index, item){
				$('#searchResults').append(formatNetworkDescriptor(item));
			});  
		}
    },
    // error handler
    function(error){
    	$('#searchResults').append(formatError(error));
    });
    
    return false;
}

function onWorkspace(jid){
	var tempLink = document.getElementById('link'+jid);
	var tempBtn = document.getElementById('button'+jid);
	var tempIcon = document.getElementById('icon'+jid);
	var found = false;
	
	
	$("input").each(function(index,value){
		if($(this).attr('title') == jid) {
			$(tempLink).attr('onclick','removeFromWorkspace(this)');
			$(tempBtn).attr('title','Remove from Workspace');
			tempIcon.className='icon-remove icon-white';
			found = true;
		}
	});
	
	if(found)return;
	
	$(tempLink).attr('onclick','addToWorkspace(this)');
	$(tempBtn).attr('title','Add to Workspace');
	tempIcon.className='icon-plus icon-white';
}

function removeFromWorkspace(obj){
	var parent = document.getElementById('workSurface');

	$("input").each(function(index,value){
		if($(this).attr('title') == $(obj).attr('title')){
			var child = document.getElementById('thumbnail' + $(this).attr('title'));
			parent.removeChild(child);
			onWorkspace($(obj).attr('title'));
		}
	});
	
}

function addToWorkspace(obj){
	var unlst = document.createElement('ul'),
		lst = document.createElement('li'),
		cnt = document.createElement('div'),
		formBox = document.createElement('form'),
		chckbox = document.createElement('input'),
		titleSpan = document.createElement('p');
	var parent = document.getElementById('workSurface');
		
	$(titleSpan).addClass('thumbText')
		.append($(obj).attr('title'));//
	$(chckbox).attr('id','checkbox' + $(obj).attr('title'))
		.attr('title',$(obj).attr('title'))
		.attr('type','checkbox');
	$(formBox).append(chckbox);
	$(cnt).addClass('thumbnail thumbIcon')
		.append(formBox)
		.append(titleSpan);
	$(lst).append(cnt);
	$(unlst).attr('id','thumbnail' + $(obj).attr('title'))
		.addClass('thumbnails')
		.append(lst);
	
	$(parent).append(unlst);
	onWorkspace($(obj).attr('title'));
}

function toggle(obj) {
	var divDisplay = obj.id +1;
	var ele = document.getElementById(divDisplay);
	var but = document.getElementById(obj.id +2);
	if(ele.style.display == "block") {
		ele.style.display = "none";
		but.className = 'icon-chevron-right';
	}
	else {
		ele.style.display = "block";
		but.className = 'icon-chevron-down';
	}
	
	onWorkspace($(obj).attr('title'));
}

function buttonTools(item){
	var buttonDiv = document.createElement('div'),
		wkSpaceLink=document.createElement('a'),
		viewLink=document.createElement('a'),
		visualizeLink=document.createElement('a'),
		wkSpaceBtn=document.createElement('button'),
		viewBtn=document.createElement('button'),
		visualizeBtn=document.createElement('button'),
		wkSpaceIcon=document.createElement('i'),
		viewIcon=document.createElement('i'),
		visualizeIcon=document.createElement('i');
		
	$(wkSpaceIcon).addClass('icon-plus icon-white').attr('id','icon'+item.jid);
	$(viewIcon).addClass('icon-folder-open icon-white');
	$(visualizeIcon).addClass('icon-eye-open icon-white');
	
	$(wkSpaceBtn).addClass('btn btn-primary')
		.attr('rel','tooltip')
		.attr('title','Add to Workspace')
		.attr('data-placement','bottom')
		.attr('id','button'+item.jid)
		.append(wkSpaceIcon);
	$(viewBtn).addClass('btn btn-primary')
		.attr('rel','tooltip')
		.attr('title','View Network')
		.attr('data-placement','bottom')
		.append(viewIcon);
	$(visualizeBtn).addClass('btn btn-primary')
		.attr('rel','tooltip')
		.attr('title','VisualizeNetwork')
		.attr('data-placement','bottom')
		.append(visualizeIcon);
	
	$(wkSpaceLink).attr('onclick','')
		.attr('id','link'+item.jid)
		.attr('title',item.jid)
		.append(wkSpaceBtn);
	$(viewLink).attr('href','../viewNetwork/' + item.jid)
		.append(viewBtn);
	$(visualizeLink).attr('href','../visualizeNetwork/' + item.jid)
		.append(visualizeBtn);
		
	$(buttonDiv).addClass('btn-group')
		.append(wkSpaceLink)
		.append(viewLink)
		.append(visualizeLink);
		
	return buttonDiv
}

function tableHead(){
    var mainDiv = document.createElement('div'),
        mainTable = document.createElement('table'),
        mainTblBody = document.createElement('tbody'),
        mainRow = document.createElement('tr'),
        mainCell = document.createElement('th');

    $(mainCell).addClass('span9').html("Available Networks");

    $(mainRow).addClass('success').append(mainCell);
    $(mainTblBody).append(mainRow);
    $(mainTable).addClass('table').append(mainTblBody);
    $(mainDiv).append(mainTable);

    return mainDiv;

}

function formatNetworkDescriptor(item){
	var networkDIV = document.createElement('div'),
		nTable = document.createElement('table'),
        	tblBody = document.createElement('tbody'),
        	row = document.createElement('tr'),
		cell = document.createElement('td'),
		nodeSpan = document.createElement('span'),
		edgeSpan = document.createElement('span'),
		titleSpan = document.createElement('span'),
		iconSpan = document.createElement('span'),
		divButton = document.createElement('i'),
		networkLink = document.createElement('a'),
		buttonLink = document.createElement('a'),
		infoDiv = document.createElement('div');

	$(divButton).attr('rel','tooltip')
			.attr('title','More Info')
			.attr('id',item.title + 2)
			.addClass('icon-chevron-right');

	$(infoDiv).addClass('searchInfo').attr('id',item.title + 1)
					.attr('style','display: none')
					.append(buttonTools(item));	

	$(buttonLink).attr('id',item.title)
			.attr('title',item.jid)
			.attr('onClick', 'toggle(this)')
			.append(divButton);

	  
	$(networkLink).attr('href','viewNetwork/' + item.jid).append(item.title);
	$(nodeSpan).addClass('span2 elementCount').append(item.nodeCount + " nodes"); 
	$(edgeSpan).addClass('span2 elementCount').append(item.edgeCount + " edges"); 
	$(titleSpan).addClass('span4 networkTitle').append(networkLink); 
	$(iconSpan).addClass('span1').append(buttonLink);   
	

	/*$(cell).addClass('background-contrast').append(iconSpan)
		.append(titleSpan)
		.append(nodeSpan)
		.append(edgeSpan);
	
	$(row).append(cell);
	$(tblBody).append(row);
	$(nTable).addClass('table table-bordered table-hover').append(tblBody);

	$(networkDIV).addClass('networkDescriptor')
                 .append(nTable).append(infoDiv);*/
        
        var li = document.createElement('li');
        var ul = document.createElement('ul');
        var a = document.createElement('a');
        
        $(networkDIV).addClass('row-fluid').append(iconSpan).append(titleSpan).append(nodeSpan).append(edgeSpan);
        $(a).attr('style','color:black').append(networkDIV).append(infoDiv);
        
        $(li).append(a);//.append(iconSpan).append(titleSpan).append(nodeSpan).append(edgeSpan);
        $(ul).addClass("nav nav-list").append(li);
        //$(networkDIV).append(ul);

	return ul;//networkDIV;

}

function formatError(error){

}

</script>

<form onsubmit="return doSearch(0);" id="searchForm">
	<div>
	<label>Query:</label>
	<input type="text" name="searchExpression" id="searchExpression"/><br/>
	</div>

	<div>
	<input type="submit" value="Search"/>
	</div>
</form>

<div id="searchResults">

</div>

<% include sidebar.ejs %>
<% include foot.ejs %>
