<% include head.ejs %>
<% include nav.ejs %>

<script>
// On form submit, send the search expression to findNetworks
// with a limit of 100.

function doSearch(offset) {
	var searchExpression = $('#searchExpression').serialize(), 
		limit = 100
		count = 1;

	console.log("Calling findNetworks");
	
	ndexClient.findNetworks(searchExpression, limit, offset, function(data){
		console.log("Got results from findNetworks");
		console.log(data);
		for (i in data.networks){
			var network = data.networks[i];
			console.log(network.title);
		}
		
		// Clears the searchResults div
		$('#searchResults').html('');
		
		if (data.networks){
			$('#searchResults').append(tableHead());
			$.each(data.networks, function(index, item){
				$('#searchResults').append(formatNetworkDescriptor(item));
			});  
		}
    },
    // error handler
    function(error){
    	$('#searchResults').append(formatError(error));
    });
    
    return false;
}


function tableHead(){
    var mainDiv = document.createElement('div'),
        mainTable = document.createElement('table'),
        mainTblBody = document.createElement('tbody'),
        mainRow = document.createElement('tr'),
        mainCell = document.createElement('th');

    $(mainCell).addClass('span9').html("Available Networks");

    $(mainRow).addClass('success').append(mainCell);
    $(mainTblBody).append(mainRow);
    $(mainTable).addClass('table').append(mainTblBody);
    $(mainDiv).append(mainTable);

    return mainDiv;

}

function toggle(obj) {
	var divDisplay = obj.id +1;
	var ele = document.getElementById(divDisplay);
	var text = document.getElementById(obj.id);
	var but = document.getElementById(obj.id +2);
	if(ele.style.display == "block") {
		ele.style.display = "none";
		but.className = 'icon-plus';
	}
	else {
		ele.style.display = "block";
		but.className = 'icon-remove-circle';
	}
}

function formatNetworkDescriptor(item){
	var networkDIV = document.createElement('div');
	
    	var nTable = document.createElement('table'),
        	tblBody = document.createElement('tbody'),
        	row = document.createElement('tr'),
		cell = document.createElement('td'),
		nodeSpan = document.createElement('span'),
		edgeSpan = document.createElement('span'),
		titleSpan = document.createElement('span'),
		iconSpan = document.createElement('span'),
		divButton = document.createElement('i'),
		networkLink = document.createElement('a'),
		buttonLink = document.createElement('a'),
		mnDiv = document.createElement('div'),
		DIV = document.createElement('div'),
		divCell = document.createElement('td'),
		divRow = document.createElement('tr');

	$(divButton).attr('id',item.title + 2).addClass('icon-plus');

	$(DIV).attr('id',item.title + 1).attr('style','display: none').html("This is a test of dropdown DIV. This area will probably hold additonal information for the user to distinguish networks. Or the area may also hold reference materials such as links to external websites or even pages within this website. ");		
	$(buttonLink).attr('id',item.title);
	$(buttonLink).attr('href','javascript:toggle(this)').attr('onClick', 'toggle(this)').append(divButton);//.html('open');
	    
	$(divCell).addClass('background-contrast').append(DIV);
	$(divRow).append(divCell);
	  
	$(networkLink).attr('href','viewNetwork/' + item.jid).append(item.title);
	$(nodeSpan).addClass('span3 elementCount').append(item.nodeCount + " nodes"); 
	$(edgeSpan).addClass('span3 elementCount').append(item.edgeCount + " edges"); 
	$(titleSpan).addClass('span3 networkTitle').append(networkLink); 
	$(iconSpan).addClass('span1').append(buttonLink);   
	

	$(cell).addClass('background-contrast').append(iconSpan)
		.append(titleSpan)
		.append(nodeSpan)
		.append(edgeSpan);
	
	$(row).append(cell);
	$(tblBody).append(row);
	$(tblBody).append(divRow);
	$(nTable).addClass('table table-bordered table-hover').append(tblBody);

	$(networkDIV).addClass('networkDescriptor')
                 .append(nTable);

	return networkDIV;

}

function formatError(error){

}

</script>

<form onsubmit="return doSearch(0);" id="searchForm">
	<div>
	<label>Query:</label>
	<input type="text" name="searchExpression" id="searchExpression"/><br/>
	</div>

	<div>
	<input type="submit" value="Search"/>
	</div>
</form>

<div id="searchResults">

</div>

<% include foot.ejs %>
