<% include head.ejs %>
<% include nav.ejs %>

<!--<div data-spy="affix" data-offset-top="200">
	<div>	
		<p>testing</p>
	</div>
</div>

<div>next</div>


<p>TODO Search Results</p>
</html>-->

    <!-- Button to trigger modal -->

<!-- Page used to sample html that does not have an implementaion or home -->
<!-- send group invite or request -->
<div class=''>
	<h3>Send Invitation</h3>
	<hr>
	<p>Send and invitation to a fellow colleague! Once recipients accept invitaions, they will become members of the group.</p>
	<p>Group Admin will have the right to assign the group ownership rights to any network they create.</p> 
	<br>
	<form  class="form-horizontal" action="" method="post" enctype="multiipart/form-data">
		<div class="control-group">
				<label class="control-label" for="inputGroup">Select Group</label>
				<div class="controls">
					<select name="group" id="inputGroup">
						<option value="">Select group</option>
						<option value="group1">Group 1</option>
						<option value="group2">Group 2</option>
						<option value="group3">Group 3</option>
					</select></div></div>
		<div class="control-group">
				<label class="control-label" for="inputPermissions">Group Permissions</label>
				<div class="controls">
					<select name="permissions" id="inputPermissions">
						<option value="">Select Permissions</option>
						<option value="groupAdmin">Group Admin</option>
						<option value="groupMember">Group Member</option>
					</select></div></div>
		<div class="control-group">
				<label class="control-label" for="inputSubject">Subject</label>
				<div class="controls">
					<input  class="span4" type="text" id="inputSubject" name="subject"></div></div>
		<div class="control-group">
				<label class="control-label" for="inputMessage">Message</label>
				<div class="controls">
					<textarea class="span4" rows="3" id="inputMessage" name="message" placeholder="Add a welcome message!"></textarea></div></div>
		<hr>
		<input type="submit" value="Send Invite">
	</form>
	
</div>

<!--create a group -->
<div class=''>
	<h3>Create a Group</h3>
	<hr>
	<form  class="form-horizontal" action="http://localhost:3333/groups" method="POST" enctype="multiipart/form-data">
		<div class="control-group">
				<label class="control-label" for="inputGroupName">Group Name</label>
				<div class="controls">
					<input  type="text" id="inputGroupName" name="groupName"></div></div>
		<div class="control-group">
				<label class="control-label" for="inputuserid">User Id (temporary)</label>
				<div class="controls">
					<input  type="text" id="inputuserid" name="userid"></div></div>
		<div class="control-group">
				<label class="control-label" for="inputWebsite">Associated Website</label>
				<div class="controls">
					<input  type="text" id="inputWebsite" name="website"></div></div>
		<div class="control-group">
				<label class="control-label" for="inputDescription">Description</label>
				<div class="controls">
					<textarea rows="3" id="inputDescription" name="description" placeholder="A brief description of your group (i.e., mission statement, purpose, etc.)"></textarea></div></div>
		<div class="control-group">
				<label class="control-label" for="inputForegroundImg">Profile Picture</label>
				<div class="controls">
					<input  type="file" id="inputForegroundImg" name="foregroundImg"></div></div>
		<div class="control-group">
				<label class="control-label" for="inputBackgroundImg">Cover Photo</label>
				<div class="controls">
					<input  type="file" id="inputBackgroundImg" name="backgroundImg"></div></div>
		<hr>
		<input type="submit" value="Submit">
	</form>
	
</div>


<% include foot.ejs%>
