<div id="divSidebar">
  <a onClick="toggle2(this)" href="#">
    <i id="btnSidebar" class="icon-chevron-left"></i>
  </a>

  <h4 class="AlignCenter">Work Surface</h4>

  <div id="divWorkSurface"></div>

  <div id="divTools">
    <a id="viewNet" onclick="viewNetwork()" class = "btn" rel = "tooltip" title = "View Network" data-placement = "top" >
      <i class="icon-folder-open icon-white"> </i>
    </a>
    <a id="visualizeNet" onclick="visualizeNetwork()" class="btn" rel="tooltip" title="Visualize Network" data-placement="top">
      <i class="icon-eye-open icon-white"> </i>
    </a>
    <a id="compareNets" onclick="compareNetworks()" class="btn" rel="tooltip" title="Compare Networks" data-placement="top">
      <i class="icon-retweet icon-white"> </i>
    </a>
    <a onclick="removeNetwork()" class="btn" rel="tooltip" title="Remove Network"  data-placement="left top">
      <i class="icon-remove icon-white"> </i>
    </a>
  </div>
</div>

<script>
//TODO
// using title attribute for passing JID is deprecated,
// convert to using jquery data. note: element attributes
// are interlinked with network displays in other pages
// add icon representations for thumbnails?

function toggle2(obj) {
	if(parseInt($("#divSidebar").css("width")) > 0)
  {
    $("#divSidebar").css("width", 0);
    $("#btnSidebar").attr("class", "icon-chevron-left");
	}
	else
  {
    $("#divSidebar").css("width", "170px");
    $("#btnSidebar").attr("class", "icon-chevron-right");
	}
}

function addNetworkIcon(ntwkObj){
	var unlst = document.createElement('ul'),
		lst = document.createElement('li'),
		cnt = document.createElement('div'),
		formBox = document.createElement('form'),
		chckbox = document.createElement('input'),
		titleSpan = document.createElement('p');
		
	$(titleSpan).addClass('thumbText')
		.append(ntwkObj.title);//
	$(chckbox).attr('id','checkbox' + ntwkObj.jid)
		.attr('title',ntwkObj.jid)
		.attr('type','checkbox');
	$(formBox).append(chckbox);
	$(cnt).addClass('thumbnail thumbIcon')
		.append(formBox)
		.append(titleSpan);
	$(lst).append(cnt);
	$(unlst).attr('id','thumbnail' + ntwkObj.jid)
		.append(lst);
	
	return unlst;
}

function viewNetwork(){
	
	var Lnk = document.getElementById('viewNet');
	var found = false;
	
	$("input").each(function(index,value){
		if($(this).is(':checked')){
			Lnk.href = "../viewNetwork/"+$(this).attr('title');
			found = true;
			return false ;
		}
	});
	if(found)return;
	
	Lnk.removeAttribute('href');
	alert('No Elements Selected');

}

function visualizeNetwork(){
	
	var Lnk = document.getElementById('visualizeNet');
	var found = false;
	
	$("input").each(function(index,value){
		if($(this).is(':checked')){
			Lnk.href = "../visualizeNetwork/"+$(this).attr('title');
			found = true;
			return false ;
		}
	});
	if(found)return;
	
	Lnk.removeAttribute('href');
	alert('No Elements Selected');

}

function compareNetworks(){
	
	var Lnk = document.getElementById('compareNets');
	var firstNet = 1;
	var found = false;
	
	$("input").each(function(index,value){
		if($(this).is(':checked')){
			firstNet= $(this).attr('title');
			return false ;
		}
	});

	$("input").each(function(index,value){
		if($(this).is(':checked')){
			if(firstNet != $(this).attr('title')){
				Lnk.href = "../compareNetworks/" + firstNet + "/" + $(this).attr('title');
				found = true;
				return false ;
			}	
		}
	});

	if(found)return;
	
	Lnk.removeAttribute('href');
	alert('Please Select 2 Elements');

}

function removeNetwork(){
	var parent = document.getElementById('divWorkSurface');
	
	$("input").each(function(index,value){
		if($(this).is(':checked')){
			ndexUI.removeFromWorkSurface($(this).attr('title'))
		}
	});

}

//------------------------------------
//
//			Initialization Code
//
//------------------------------------
		
if (ndexUI.user.id)
  ndexUI.initUserWorkSurface();
else
	$('#divSidebar').attr('style','display:none');
</script>
 
