<% include head.ejs %>
<% include nav.ejs %>
<script src="/js/jdex.js"></script>
<h1>Upload Network</h1>

<div class="" id="holder">
    <hr>
    <form class="form-horizontal" action="" method="post" enctype="multiipart/form-data" id="networkUploadForm">
        <div class="row-fluid">
            <!--
                        <div class="btn-group span2">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span id="type">File Type</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" arai-labelledby="dropdownMenu">
                                <li><a tabindex="-1" onclick="addForm(this)" title="openbel-document">OpenBEL Document </a></li>
                                <li><a tabindex="-1" onclick="addForm(this)" title="sif">SIF </a></li>
                            </ul>
                        </div>
            -->
            <div class="span3">
                <input type="file" id="fileForUpload" name="network" size="40">
            </div>

        </div>
        <div class="row-fluid">
            <div class="span3">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>


<script>
    /* attach a submit handler to the form */
    $('#networkUploadForm').submit(function (event) {
        event.preventDefault();  // stop form from submitting normally
        var data, file = document.getElementById("fileForUpload").files[0];
        $('#message').html("Reading " + file.path);
        if (file) {
            var reader = new FileReader();

            reader.onload = function (evt) {
                $('#message').html("Reading " + file.path);

                // Check file format by suffix
                if (file.type.toLowerCase() == "xbel") {
                    // XBEL Format  (convert to JDEx and upload)
                    var xml = $.parseXML(evt.target.result);
                    $('#message').html("Converting XBEL to JDEx for " + file.path);
                    var graph = jdex.createGraphFromXBEL(xml);
                    data = graph.serializeJDEx();

                } else if (file.type.toLowerCase() == "sif") {
                    // SIF Format  (convert to JDEx and upload)
                    var lines = evt.target.result.split("\n");
                    // SIF data is now an array of strings
                    $('#message').html("Converting SIF to JDEx for " + file.path);
                    var graph = jdex.createGraphFromSIF(lines);
                    data = graph.serializeJDEx();


                } else if (file.type.toLowerCase() == "jdex") {
                    // JDEx Format (just upload)
                    data = JSON.parse(evt.target.result);
                }
                alert("ready to call create Network");
                $('#message').html("Uploading JDEx for " + file.path);
                ndexClient.createNetwork(data, ndexUI.user.id,
                        function (result) {
                            //
                            // Success: redirect to edit metadata for the new network
                            //
                            window.location = "/editNetworkMetadata/" + result.jid;
                        },
                        function (error) {
                            //
                            // Failure: display message
                            //
                            $('#message').html(JSON.stringify(error));
                        });

            };
            reader.onerror = function (evt) {
                document.getElementById("message").innerHTML = "error reading file";
            };
            reader.readAsText(file, "UTF-8");
        }
    });


</script>
<% include foot.ejs %>
