<% include header.ejs %>
<% include navigation.ejs %>

<div id="divUser" class="row-fluid" data-bind="with: User">
    <div class="span2 dropdown pull-right">
        <a class="ndex-options dropdown-toggle Hand" data-toggle="dropdown">
            <i class="icon-cog icon-large"></i>
        </a>

        <ul class="dropdown-menu">
            <li><a href="#displayOptions" data-toggle="modal">Display Options</a></li>
            <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
            <li><a href="/editProfile" class="accountMiniMenu">Edit Profile</a></li>
            <li><a href="#" class="accountMiniMenu">New Profile Image</a></li>
            <li><a href="#" class="accountMiniMenu">New Background Image</a></li>
            <li><a href="/sendRequest" class="accountMiniMenu">Create a Request</a></li>
            <li><a href="/editAgent" class="accountMiniMenu">Edit/Create Agent</a></li>
            <!-- /ko -->
        </ul>
    </div>

    <div class="span7">
        <div id="divProfileImages">
            <div>
                <img class="Profile" data-bind="attr: { src: '../img/foreground/' + username() + '.jpg' }" />
            </div>

            <div>
                <img class="ProfileBackground" data-bind="attr: { src: '../img/background/' + username() + '.jpg' }" />
            </div>
        </div>

        <div class="tabbable">
            <ul class="nav nav-tabs tab-title">
                <li class="active">
                    <a href="#divNetworks" data-toggle="tab">Networks</a>
                </li>
                <li>
                    <a href="#divGroups" data-toggle="tab">Groups</a>
                </li>
                <li id="divMemberships" class="hide">
                    <a href="#groups" data-toggle="tab">Memberships</a>
                </li>
                <li id="divAgentAccounts" class="hide">
                    <a href="#ownedAgentAccounts" data-toggle="tab">Agents</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="divNetworks" class="tab-pane active">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: networks">
                            <tr>
                                <td>
                                    <i class="icon-chevron-right"></i>
                                </td>
                                <td>
                                    <a data-bind="text: resourceName, attr: { href: '/network/' + resourceId() }"></a>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="javascript:void()" class="btn" title="Add to Work Surface" rel="tooltip">
                                            <!-- ko if: !WorkSurface.isOnWorkSurface(resourceId()) -->
                                            <i class="icon-plus icon-white" data-bind="click: WorkSurface.addNetwork"></i>
                                            <!-- /ko -->
                                            <!-- ko if: WorkSurface.isOnWorkSurface(resourceId()) -->
                                            <i class="icon-remove icon-white" data-bind="click: WorkSurface.removeNetwork"></i>
                                            <!-- /ko -->
                                        </a>
                                        <a href="javascript:void()" class="btn" title="Request access" rel="tooltip">
                                            <i class="icon-exchange" data-bind="click: User.requestNetworkAccess"></i>
                                        </a>
                                        <a data-bind="attr: { href: '/network/' + resourceId() + '/visualize' }" class="btn" target="_blank" title="Visualize network" rel="tooltip">
                                            <i class="icon-eye-open"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="divGroups" class="tab-pane">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: groups">
                            <tr>
                                <td>
                                    <i class="icon-chevron-right"></i>
                                </td>
                                <td>
                                    <a data-bind="text: resourceName, attr: { href: '/group/' + resourceId() }"></a>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="javascript:void()" class="btn" title="Request access" rel="tooltip">
                                            <i class="icon-exchange" data-bind="click: User.requestGroupAccess"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="divMemberships" class="tab-pane">
                </div>

                <div id="divAgentAccounts" class="tab-pane">
                </div>
            </div>
        </div>
    </div>

    <div class="span3">
        <h3>
            <input type="text" class="Invisible" readonly placeholder="First Name" data-bind="value: firstName, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
            <input type="text" class="Invisible" readonly placeholder="Last Name" data-bind="value: lastName, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
        </h3>

        <div>
            <input type="text" class="Invisible" placeholder="Email Address" readonly data-bind="value: emailAddress, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
        </div>

        <div>
            <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
            <input type="text" class="Invisible" placeholder="Website URL" readonly data-bind="value: website, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
            <!-- /ko -->
            <!-- ko if: NdexWeb.ViewModel.User().id() != User.ViewModel.User().id() -->
            <a target="_blank" data-bind="text: website, attr: { href: website() }"></a>
            <!-- /ko -->
        </div>

        <textarea class="Invisible" style="height: 100px; width: 100%;" readonly placeholder="Description" data-bind="value: description, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }"></textarea>

        <div id="divNotifications">
            <h4>Notifications</h4>

            <h5>Requests</h5>

            <ul data-bind="foreach: requests">
                <li>
                    <!-- ko if: fromId() === NdexWeb.ViewModel.User().id() -->
                    From: <a href="javascript:void()" data-bind="click: User.showRequest">You</a>
                    <!-- /ko -->
                    <!-- ko if: fromId() !== NdexWeb.ViewModel.User().id() -->
                    From: <a href="javascript:void()" data-bind="text: from, click: User.showRequest"></a>
                    <!-- /ko -->
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript">
    User.ViewModel.UserId("<%=userId%>");
</script>

<script type="text/html" id="userRequest">
    <div style="margin: 0 auto; width: 75%" class="AlignLeft">
        <label class="Attribute">From:</label>
        <span id="spanFrom"></span>
    </div>

    <div style="margin: 0 auto; width: 75%" class="AlignLeft">
        <label class="Attribute">To:</label>
        <span id="spanTo"></span>
    </div>

    <hr />

    <p></p>

    <div style="margin-top: 2em;">
        <strong class="hide">This request was <em></em> by <span></span>.</strong>
        <button type="button" class="pull-right hide">Decline</button>
        <button type="button" class="pull-left hide">Accept ▼</button>
    </div>
</script>

<% include worksurface.ejs %>
<% include footer.ejs %>
