<% include header.ejs %>
<% include navigation.ejs %>

<div id="divUser" class="row-fluid" data-bind="with: User">
    <div class="span2 dropdown pull-right">
        <a class="ndex-options dropdown-toggle Hand" data-toggle="dropdown">
            <i class="icon-cog icon-large"></i>
        </a>

        <ul class="dropdown-menu">
            <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
            <li>
                <a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.createGroup">Create Group</a>
            </li>
            <li>
                <a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.createNetwork">Create Network</a>
            </li>
            <li>
                <a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.changeProfileImage">Change Profile Image</a>
            </li>
            <li>
                <a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.changeProfileBackground">Change Background Image</a>
            </li>
            <li>
                <a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.changePassword">Change Password</a>
            </li>
            <!-- /ko -->
            <!-- ko if: NdexWeb.ViewModel.User().id() != User.ViewModel.User().id() -->
                <!-- ko if: NdexWeb.ViewModel.User().groups().length > 0 -->
            <li>
                <a href="javascript:void()" class="accountMiniMenu" data-bind="click: User.inviteToGroup">Invite to Join...</a>
            </li>
                <!-- /ko -->
            <!-- /ko -->
        </ul>
    </div>

    <div class="span7">
        <div id="divProfileImages">
            <div>
                <img id="imgProfile" data-bind="attr: { src: '/img/foreground/' + username() + '.jpg' }" />
            </div>

            <div>
                <img id="imgProfileBackground" data-bind="attr: { src: '/img/background/' + username() + '.jpg' }" />
            </div>
        </div>

        <div class="tabbable">
            <ul class="nav nav-tabs tab-title">
                <li class="active">
                    <a href="#divNetworks" data-toggle="tab">
                        <i class="icon-exchange"></i>
                        Networks
                    </a>
                </li>
                <li>
                    <a href="#divGroups" data-toggle="tab">
                        <i class="icon-group"></i>
                        Groups
                    </a>
                </li>
                <li data-bind="if: false">
                    <a href="#divAgentAccounts" data-toggle="tab">
                        <i class="icon-cogs"></i>
                        Agents
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="divNetworks" class="tab-pane active">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: networks">
                            <tr>
                                <td>
                                    <i class="icon-chevron-right"></i>
                                </td>
                                <td>
                                    <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
                                    <a data-bind="text: resourceName, attr: { href: '/network/' + resourceId() }"></a>
                                    <!-- /ko -->
                                    <!-- ko if: NdexWeb.ViewModel.User().id() != User.ViewModel.User().id() -->
                                    <span data-bind="text: resourceName"></span>
                                    <!-- /ko -->

                                </td>
                                <td>
                                    <div class="btn-group">
                                        <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
                                        <a href="javascript:void()" class="btn" title="Add to Work Surface">
                                            <!-- ko if: !WorkSurface.isOnWorkSurface(resourceId()) -->
                                            <i class="icon-plus icon-white" data-bind="click: WorkSurface.addNetwork"></i>
                                            <!-- /ko -->
                                            <!-- ko if: WorkSurface.isOnWorkSurface(resourceId()) -->
                                            <i class="icon-remove icon-white" data-bind="click: WorkSurface.removeNetwork"></i>
                                            <!-- /ko -->
                                        </a>
                                        <!-- /ko -->

                                        <!-- ko if: NdexWeb.ViewModel.User().id() != User.ViewModel.User().id() -->
                                        <a href="javascript:void()" class="btn" title="Request access">
                                            <i class="icon-envelope-alt" data-bind="click: User.requestNetworkAccess"></i>
                                        </a>
                                        <!-- /ko -->

                                        <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
                                        <a data-bind="attr: { href: '/network/' + resourceId() + '/visualize' }" class="btn" target="_blank" title="Visualize network">
                                            <i class="icon-eye-open"></i>
                                        </a>
                                        <!-- /ko -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="divGroups" class="tab-pane">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: groups">
                            <tr>
                                <td>
                                    <i class="icon-chevron-right"></i>
                                </td>
                                <td>
                                    <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
                                    <a data-bind="text: resourceName, attr: { href: '/group/' + resourceId() }"></a>
                                    <!-- /ko -->
                                    <!-- ko if: NdexWeb.ViewModel.User().id() != User.ViewModel.User().id() -->
                                    <span data-bind="text: resourceName"></span>
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="javascript:void()" class="btn" title="Request access">
                                            <i class="icon-envelope-alt" data-bind="click: User.requestGroupAccess"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="divMemberships" class="tab-pane">
                </div>

                <div id="divAgentAccounts" class="tab-pane">
                </div>
            </div>
        </div>
    </div>

    <div class="span3">
        <h3>
            <input type="text" class="AlignRight Invisible" readonly placeholder="First Name" data-bind="value: firstName, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
            <input type="text" class="Invisible" readonly placeholder="Last Name" data-bind="value: lastName, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
        </h3>

        <div>
            <input type="text" class="Invisible" placeholder="Email Address" readonly data-bind="value: emailAddress, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
        </div>

        <div>
            <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
            <input type="text" class="Invisible" placeholder="Website URL" readonly data-bind="value: website, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }" />
            <!-- /ko -->
            <!-- ko if: NdexWeb.ViewModel.User().id() != User.ViewModel.User().id() -->
            <a target="_blank" data-bind="text: website, attr: { href: website() }"></a>
            <!-- /ko -->
        </div>

        <textarea class="Invisible" style="height: 60px; width: 100%;" readonly placeholder="Description" data-bind="value: description, isEditable: User.ViewModel.User().id(), event: { change: User.updateUser }"></textarea>

        <!-- ko if: NdexWeb.ViewModel.User().id() === User.ViewModel.User().id() -->
        <div id="divNotifications">
            <h4>Notifications</h4>

            <h5>Requests</h5>

            <ul data-bind="foreach: requests">
                <li>
                    <!-- ko if: fromId() === NdexWeb.ViewModel.User().id() -->
                    From: <a href="javascript:void()" data-bind="css: { 'text-success': response() != 'DECLINED', 'text-error': response() === 'DECLINED' }, click: User.showRequest">You</a>
                    <!-- /ko -->
                    <!-- ko if: fromId() !== NdexWeb.ViewModel.User().id() -->
                    From: <a href="javascript:void()" data-bind="css: { 'text-success': response() != 'DECLINED', 'text-error': response() === 'DECLINED' }, text: from, click: User.showRequest"></a>
                    <!-- /ko -->
                </li>
            </ul>
        </div>
        <!-- /ko -->
    </div>
</div>

<script type="text/javascript" src="/js/password.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript">
    User.ViewModel.UserId("<%=userId%>");
</script>

<script type="text/html" id="changePassword">
    <div style="margin: 0 auto; text-align: left; width: 60%">
        <label class="Attribute-Editable">Password:</label>
        <input type="text" id="txtPassword" placeholder="New Password" />
    </div>

    <div style="margin: 0 auto; text-align: left; width: 60%;">
        <label class="Attribute-Editable">Confirm:</label>
        <input type="text" id="txtConfirmPassword" placeholder="Type it again" />
    </div>

    <div>
        <button type="button">Change Password</button>
    </div>
</script>
<script type="text/html" id="changeImage">
    <p>Select the new image</p>

    <form id="frmChangeImage" method="post" enctype="multipart/form-data">
        <input type="file" id="fileNewImage" name="fileNewImage" />
    </form>
</script>
<script type="text/html" id="createGroup">
    <form id="frmCreateGroup">
        <label class="Attribute-Editable">Name:</label>
        <input type="text" id="txtGroupName" placeholder="Group name" pattern="[A-Za-z0-9 -]{6,50}" />

        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</script>
<script type="text/html" id="createNetwork">
    <form id="frmCreateNetwork" method="put" enctype="multipart/form-data">
        <label class="Attribute-Editable">Network File:</label>
        <input type="file" id="fileNetwork" name="fileNetwork" />

        <hr />

        <h3>Errors</h3>

        <div style="height: 100px; overflow-y: auto;">
            <ul>
            </ul>
        </div>
    </form>
</script>
<script type="text/html" id="userRequest">
    <div style="margin: 0 auto; width: 75%" class="AlignLeft">
        <label class="Attribute">From:</label>
        <span id="spanFrom"></span>
    </div>

    <div style="margin: 0 auto; width: 75%" class="AlignLeft">
        <label class="Attribute">To:</label>
        <span id="spanTo"></span>
    </div>

    <p></p>

    <hr />

    <textarea style="height: 60px; width: 60%"></textarea>

    <div style="margin-top: 2em; position: relative;">
        <strong class="hide">This request was <em></em> by <span></span>.</strong>
        <button type="button" id="btnDecline" class="pull-right hide">Decline</button>
        <button type="button" id="btnAccept" class="pull-left hide">Accept ▼</button>
        <select style="bottom: -38px; left: 0px; opacity: 0; position: absolute; width: 80px; z-index: 2;">
            <option value="READ">Read</option>
            <option value="WRITE">Write</option>
            <option value="ADMIN">Admin</option>
        </select>
    </div>
</script>

<% include worksurface.ejs %>
<% include footer.ejs %>
