<% include head.ejs %>
<% include nav.ejs %>

<div id="edges"></div>
<div id="nodes"></div>
<div id="error"></div>
<script>

// the network id passed from the ejs template
var networkRID = '<%= networkId %>';

function formatError(error){

}

function formatEdge(edge, network){
	var edgeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		subjectSpan = document.createElement('span'),
		predicateSpan = document.createElement('span'),
		objectSpan = document.createElement('span'),
		subject = network.nodes[edge.s],
		object = network.nodes[edge.o],
		predicate = network.terms[edge.p]; 
		
	$(idSpan).addClass('edgeId').html(edge.id);
	$(subjectSpan).addClass('nodeName').html(subject.name);
	$(objectSpan).addClass('nodeName').html(object.name);
	$(predicateSpan).addClass('predicateName').html(predicate.name);
		
	$(edgeDIV).addClass('edge')
			  .append(idSpan)
			  .append(subjectSpan)
			  .append(predicateSpan)
			  .append(objectSpan);
			  
	return edgeDIV;
}

function formatNode(node, network){
		
	var nodeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		nameSpan = document.createElement('span');
	
	$(idSpan).addClass('nodeId').html(node.id);
	$(nameSpan).addClass('nodeName').html(node.name);
	
	$(nodeDIV).addClass('node')
			  .append(idSpan)
			  .append(nameSpan);

	console.log(node.represents + " : " + JSON.stringify(network.terms[node.represents]));
	if (node.represents && network.terms[node.represents]){
		var term = network.terms[node.represents],
			representsSpan = document.createElement('span');
		$(representsSpan).addClass('term').html(term.name);
		$(nodeDIV).append(representsSpan);
	}
	
	return nodeDIV;

}


// On load, we get the network, then push it to cytoscape.js on the callback
$(ndexClient.getNetwork(networkRID, function(data){
		console.log("Got results from getNetwork");
		console.log(data);
	
  		// Clears the nodes and edges divs
		$('#nodes').html('');
		$('#edges').html('');
		
  		$.each(data.network.nodes, function(index, node){
			$('#nodes').append(formatNode(node, data.network));
		});  

  		
  		$.each(data.network.edges, function(index, edgNDEx-Site:
	css:
		BEL_mp_demo.css
		bootstrap-responsive.css
		bootstrap-responsive.min.css
		bootstrap.css
		bootstrap.min.css
		ndex-site.css
	find_networks.js
	generate:
		api_spec.js
		client_api_footer.js
		client_api_header.js
		generate_client.js
		generate_connect_to_db.js
		generate_site.js
		generate.js
		site_footer.js
		site_header.js
		undefinedsite.js
	get_networks_test.js
	img:
		background:
			idekerlab.jpg
			nci_nature.gif
			reactome.png
		close_icon.png
		copyright2012.png
		expand_icon.png
		fly_icon.png
		foreground:
			nci_nature.png
			treyideker.jpg
		glyphicons-halflings-white.png
		glyphicons-halflings.png
		logo.png
		triptych_logo_large_white.png
		triptych_logo_large.png
		zoom_in_icon.png
		zoom_out_icon.png
	jdex_sif_test.js
	jdex_test.js
	js:
		async.js
		backbone.js
		bootstrap.js
		bootstrap.min.js
		cytoscape.js
		d3.v3.js
		highcharts.js
		jdex.js
		ndexClient.js
		sigma.concat.js
		three:
			RequestAnimationFrame.js
			Three.js
		triptych:
			Controls:
				BasicControls-1.1.3.js
			Core:
				Triptych-1.1.4.js
			GraphLoader:
				BasicGraphLoader-1.1.4.js
				JDExGraphLoader
				JDExGraphLoader.js
			LayoutEngine:
				ForceDirectedLayoutEngine-1.1.2.js
				MP2LayoutEngine-1.1.1.js
				MP2LayoutEngine-1.1.1.min.js
			Visualizer:
				BEL3DCanvasVisualizer-1.1.1.js
				BEL3DVisualizer-1.1.1.js
				BELMPCanvasVisualizer-1.1.2.js
				BELMPVisualizer-1.1.2.js
				CanvasVisualizer-1.1.4.js
				TwoPlaneVisualizer
				TwoPlaneVisualizer.js
				WebGLVisualizer-1.1.3.js
		underscore.js
	node_modules:
		connect-flash:
			lib:
				flash.js
				index.js
			LICENSE
			package.json
			README.md
		contextify:
			binding.gyp
			build:
				binding.Makefile
				config.gypi
				contextify.target.mk
				gyp-mac-tool
				Makefile
				Release:
					contextify.node
					linker.lock
					obj.target:
						contextify:
							src:
								contextify.o
			changelog
			lib:
				contextify.js
			LICENSE.txt
			node_modules:
				bindings:
					bindings.js
					package.json
					README.md
			package.json
			README.md
			src:
				contextify.cc
			test:
				contextify.js
			wscript
		ejs:
			benchmark.js
			ejs.js
			ejs.min.js
			examples:
				client.html
				list.ejs
				list.js
			History.md
			index.js
			lib:
				ejs.js
				filters.js
				utils.js
			Makefile
			package.json
			Readme.md
			support:
				compile.js
			test:
				ejs.js
				fixtures:
					backslash.ejs
					backslash.html
					comments.ejs
					comments.html
					double-quote.ejs
					double-quote.html
					error.ejs
					error.out
					include.css.ejs
					include.css.html
					include.ejs
					include.html
					includes:
						menu:
							item.ejs
						menu-item.ejs
					menu.ejs
					menu.html
					messed.ejs
					messed.html
					newlines.ejs
					newlines.html
					no.newlines.ejs
					no.newlines.html
					para.ejs
					pet.ejs
					single-quote.ejs
					single-quote.html
					style.css
					user.ejs
		express:
			bin:
				express
			History.md
			index.js
			lib:
				application.js
				express.js
				middleware.js
				request.js
				response.js
				router:
					index.js
					route.js
				utils.js
				view.js
			LICENSE
			Makefile
			node_modules:
				buffer-crc32:
					index.js
					package.json
					README.md
					tests:
						crc.test.js
				commander:
					History.md
					index.js
					lib:
						commander.js
					Makefile
					package.json
					Readme.md
				connect:
					index.js
					lib:
						cache.js
						connect.js
						index.js
						middleware:
							basicAuth.js
							bodyParser.js
							compress.js
							cookieParser.js
							cookieSession.js
							csrf.js
							directory.js
							errorHandler.js
							favicon.js
							json.js
							limit.js
							logger.js
							methodOverride.js
							multipart.js
							query.js
							responseTime.js
							session:
								cookie.js
								memory.js
								session.js
								store.js
							session.js
							static.js
							staticCache.js
							timeout.js
							urlencoded.js
							vhost.js
						patch.js
						proto.js
						public:
							directory.html
							error.html
							favicon.ico
							icons:
								page_add.png
								page_attach.png
								page_code.png
								page_copy.png
								page_delete.png
								page_edit.png
								page_error.png
								page_excel.png
								page_find.png
								page_gear.png
								page_go.png
								page_green.png
								page_key.png
								page_lightning.png
								page_link.png
								page_paintbrush.png
								page_paste.png
								page_red.png
								page_refresh.png
								page_save.png
								page_white_acrobat.png
								page_white_actionscript.png
								page_white_add.png
								page_white_c.png
								page_white_camera.png
								page_white_cd.png
								page_white_code_red.png
								page_white_code.png
								page_white_coldfusion.png
								page_white_compressed.png
								page_white_copy.png
								page_white_cplusplus.png
								page_white_csharp.png
								page_white_cup.png
								page_white_database.png
								page_white_delete.png
								page_white_dvd.png
								page_white_edit.png
								page_white_error.png
								page_white_excel.png
								page_white_find.png
								page_white_flash.png
								page_white_freehand.png
								page_white_gear.png
								page_white_get.png
								page_white_go.png
								page_white_h.png
								page_white_horizontal.png
								page_white_key.png
								page_white_lightning.png
								page_white_link.png
								page_white_magnify.png
								page_white_medal.png
								page_white_office.png
								page_white_paint.png
								page_white_paintbrush.png
								page_white_paste.png
								page_white_php.png
								page_white_picture.png
								page_white_powerpoint.png
								page_white_put.png
								page_white_ruby.png
								page_white_stack.png
								page_white_star.png
								page_white_swoosh.png
								page_white_text_width.png
								page_white_text.png
								page_white_tux.png
								page_white_vector.png
								page_white_visualstudio.png
								page_white_width.png
								page_white_word.png
								page_white_world.png
								page_white_wrench.png
								page_white_zip.png
								page_white.png
								page_word.png
								page_world.png
								page.png
							style.css
						utils.js
					LICENSE
					node_modules:
						bytes:
							component.json
							History.md
							index.js
							Makefile
							package.json
							Readme.md
						cookie:
							index.js
							package.json
							README.md
							test:
								mocha.opts
								parse.js
								serialize.js
						formidable:
							benchmark:
								bench-multipart-parser.js
							example:
								json.js
								post.js
								upload.js
							index.js
							lib:
								file.js
								incoming_form.js
								index.js
								json_parser.js
								multipart_parser.js
								octet_parser.js
								querystring_parser.js
							LICENSE
							package.json
							Readme.md
							test:
								common.js
								fixture:
									file:
										beta-sticker-1.png
										binaryfile.tar.gz
										blank.gif
										funkyfilename.txt
										menu_separator.png
										plain.txt
									http:
										special-chars-in-filename:
											info.md
									js:
										encoding.js
										misc.js
										no-filename.js
										preamble.js
										special-chars-in-filename.js
										workarounds.js
									multipart.js
								integration:
									test-fixtures.js
									test-json.js
									test-octet-stream.js
								legacy:
									common.js
									integration:
										test-multipart-parser.js
									simple:
										test-file.js
										test-incoming-form.js
										test-multipart-parser.js
										test-querystring-parser.js
									system:
										test-multi-video-upload.js
								run.js
								standalone:
									test-connection-aborted.js
									test-content-transfer-encoding.js
									test-issue-46.js
								tools:
									base64.html
								unit:
									test-file.js
									test-incoming-form.js
							tool:
								record.js
						pause:
							History.md
							index.js
							Makefile
							package.json
							Readme.md
						qs:
							index.js
							package.json
							Readme.md
						uid2:
							index.js
							package.json
					package.json
					Readme.md
					test.js
				cookie:
					index.js
					LICENSE
					package.json
					README.md
					test:
						mocha.opts
						parse.js
						serialize.js
				cookie-signature:
					History.md
					index.js
					Makefile
					package.json
					Readme.md
				debug:
					component.json
					debug.js
					example:
						app.js
						browser.html
						wildcards.js
						worker.js
					History.md
					index.js
					lib:
						debug.js
					package.json
					Readme.md
				fresh:
					index.js
					Makefile
					package.json
					Readme.md
				methods:
					index.js
					package.json
				mkdirp:
					examples:
						pow.js
					index.js
					LICENSE
					package.json
					README.markdown
					test:
						chmod.js
						clobber.js
						mkdirp.js
						perm_sync.js
						perm.js
						race.js
						rel.js
						return_sync.js
						return.js
						root.js
						sync.js
						umask_sync.js
						umask.js
				range-parser:
					History.md
					index.js
					Makefile
					package.json
					Readme.md
				send:
					History.md
					index.js
					lib:
						send.js
						utils.js
					Makefile
					node_modules:
						mime:
							LICENSE
							mime.js
							package.json
							README.md
							test.js
							types:
								mime.types
								node.types
					package.json
					Readme.md
			package.json
			Readme.md
			test.js
		jquery:
			grunt.js
			lib:
				node-jquery.js
			LICENSE-MIT
			node_modules:
				htmlparser:
					a
					b
					c
					CHANGELOG
					json2.js
					lib:
						htmlparser.js
						htmlparser.min.js
						node-htmlparser.js
						node-htmlparser.min.js
					libxmljs.node
					LICENSE
					new:
						a
						b
						compat.js
						htmlparser.js
						parser.zip
						test01.js
						test02.js
					newparser.js
					node-htmlparser.old.js
					package.json
					profile
					profile.getelement.js
					profile.getelement.txt
					profile.js
					profileresults.txt
					pulls:
						node-htmlparser:
							CHANGELOG
							json2.js
							lib:
								node-htmlparser.js
								node-htmlparser.min.js
							LICENSE
							package.json
							profile.js
							README.md
							runtests.html
							runtests.js
							runtests.min.html
							runtests.min.js
							snippet.js
							tests:
								01-basic.js
								02-single_tag_1.js
								03-single_tag_2.js
								04-unescaped_in_script.js
								05-tags_in_comment.js
								06-comment_in_script.js
								07-unescaped_in_style.js
								08-extra_spaces_in_tag.js
								09-unquoted_attrib.js
								10-singular_attribute.js
								11-text_outside_tags.js
								12-text_only.js
								13-comment_in_text.js
								14-comment_in_text_in_script.js
								15-non-verbose.js
								16-ignore_whitespace.js
								17-xml_namespace.js
								18-enforce_empty_tags.js
								19-ignore_empty_tags.js
								20-rss.js
								21-atom.js
							utils_example.js
					README.md
					rssbug.js
					rssbug.rss
					runtests_new.js
					runtests.html
					runtests.js
					runtests.min.html
					runtests.min.js
					snippet.js
					test01.js
					testdata:
						api.html
						getelement.html
						trackerchecker.html
					tests:
						01-basic.js
						02-single_tag_1.js
						03-single_tag_2.js
						04-unescaped_in_script.js
						05-tags_in_comment.js
						06-comment_in_script.js
						07-unescaped_in_style.js
						08-extra_spaces_in_tag.js
						09-unquoted_attrib.js
						10-singular_attribute.js
						11-text_outside_tags.js
						12-text_only.js
						13-comment_in_text.js
						14-comment_in_text_in_script.js
						15-non-verbose.js
						16-ignore_whitespace.js
						17-xml_namespace.js
						18-enforce_empty_tags.js
						19-ignore_empty_tags.js
						20-rss.js
						21-atom.js
						22-position_data.js
					tmp:
						snippet.js
					utils_example.js
					v8.log
				jsdom:
					lib:
						jsdom:
							browser:
								documentfeatures.js
								domtohtml.js
								htmlencoding.js
								htmltodom.js
								index.js
							level1:
								core.js
							level2:
								core.js
								events.js
								html.js
								index.js
								languages:
									javascript.js
								style.js
							level3:
								core.js
								events.js
								html.js
								index.js
								ls.js
								xpath.js
							selectors:
								index.js
								sizzle.js
							utils.js
						jsdom.js
					LICENSE.txt
					node_modules:
						cssom:
							lib:
								clone.js
								CSSFontFaceRule.js
								CSSImportRule.js
								CSSKeyframeRule.js
								CSSKeyframesRule.js
								CSSMediaRule.js
								CSSRule.js
								CSSStyleDeclaration.js
								CSSStyleRule.js
								CSSStyleSheet.js
								index.js
								MediaList.js
								parse.js
								StyleSheet.js
							package.json
							README.mdown
						cssstyle:
							lib:
								CSSStyleDeclaration.js
								properties:
									alignmentBaseline.js
									azimuth.js
									background.js
									backgroundAttachment.js
									backgroundClip.js
									backgroundColor.js
									backgroundImage.js
									backgroundOrigin.js
									backgroundPosition.js
									backgroundPositionX.js
									backgroundPositionY.js
									backgroundRepeat.js
									backgroundRepeatX.js
									backgroundRepeatY.js
									backgroundSize.js
									baselineShift.js
									border.js
									borderBottom.js
									borderBottomColor.js
									borderBottomLeftRadius.js
									borderBottomRightRadius.js
									borderBottomStyle.js
									borderBottomWidth.js
									borderCollapse.js
									borderColor.js
									borderImage.js
									borderImageOutset.js
									borderImageRepeat.js
									borderImageSlice.js
									borderImageSource.js
									borderImageWidth.js
									borderLeft.js
									borderLeftColor.js
									borderLeftStyle.js
									borderLeftWidth.js
									borderRadius.js
									borderRight.js
									borderRightColor.js
									borderRightStyle.js
									borderRightWidth.js
									borderSpacing.js
									borderStyle.js
									borderTop.js
									borderTopColor.js
									borderTopLeftRadius.js
									borderTopRightRadius.js
									borderTopStyle.js
									borderTopWidth.js
									borderWidth.js
									bottom.js
									boxShadow.js
									boxSizing.js
									captionSide.js
									clear.js
									clip.js
									clipPath.js
									clipRule.js
									color.js
									colorInterpolation.js
									colorInterpolationFilters.js
									colorProfile.js
									colorRendering.js
									content.js
									counterIncrement.js
									counterReset.js
									cssFloat.js
									cue.js
									cueAfter.js
									cueBefore.js
									cursor.js
									direction.js
									display.js
									dominantBaseline.js
									elevation.js
									emptyCells.js
									enableBackground.js
									fill.js
									fillOpacity.js
									fillRule.js
									filter.js
									floodColor.js
									floodOpacity.js
									font.js
									fontFamily.js
									fontSize.js
									fontSizeAdjust.js
									fontStretch.js
									fontStyle.js
									fontVariant.js
									fontWeight.js
									glyphOrientationHorizontal.js
									glyphOrientationVertical.js
									height.js
									imageRendering.js
									kerning.js
									left.js
									letterSpacing.js
									lightingColor.js
									lineHeight.js
									listStyle.js
									listStyleImage.js
									listStylePosition.js
									listStyleType.js
									margin.js
									marginBottom.js
									marginLeft.js
									marginRight.js
									marginTop.js
									marker.js
									markerEnd.js
									markerMid.js
									markerOffset.js
									markerStart.js
									marks.js
									mask.js
									maxHeight.js
									maxWidth.js
									minHeight.js
									minWidth.js
									opacity.js
									orphans.js
									outline.js
									outlineColor.js
									outlineOffset.js
									outlineStyle.js
									outlineWidth.js
									overflow.js
									overflowX.js
									overflowY.js
									padding.js
									paddingBottom.js
									paddingLeft.js
									paddingRight.js
									paddingTop.js
									page.js
									pageBreakAfter.js
									pageBreakBefore.js
									pageBreakInside.js
									pause.js
									pauseAfter.js
									pauseBefore.js
									pitch.js
									pitchRange.js
									playDuring.js
									pointerEvents.js
									position.js
									quotes.js
									resize.js
									richness.js
									right.js
									shapeRendering.js
									size.js
									speak.js
									speakHeader.js
									speakNumeral.js
									speakPunctuation.js
									speechRate.js
									src.js
									stopColor.js
									stopOpacity.js
									stress.js
									stroke.js
									strokeDasharray.js
									strokeDashoffset.js
									strokeLinecap.js
									strokeLinejoin.js
									strokeMiterlimit.js
									strokeOpacity.js
									strokeWidth.js
									tableLayout.js
									textAlign.js
									textAnchor.js
									textDecoration.js
									textIndent.js
									textLineThrough.js
									textLineThroughColor.js
									textLineThroughMode.js
									textLineThroughStyle.js
									textLineThroughWidth.js
									textOverflow.js
									textOverline.js
									textOverlineColor.js
									textOverlineMode.js
									textOverlineStyle.js
									textOverlineWidth.js
									textRendering.js
									textShadow.js
									textTransform.js
									textUnderline.js
									textUnderlineColor.js
									textUnderlineMode.js
									textUnderlineStyle.js
									textUnderlineWidth.js
									top.js
									unicodeBidi.js
									unicodeRange.js
									vectorEffect.js
									verticalAlign.js
									visibility.js
									voiceFamily.js
									volume.js
									webkitAnimation.js
									webkitAnimationDelay.js
									webkitAnimationDirection.js
									webkitAnimationDuration.js
									webkitAnimationFillMode.js
									webkitAnimationIterationCount.js
									webkitAnimationName.js
									webkitAnimationPlayState.js
									webkitAnimationTimingFunction.js
									webkitAppearance.js
									webkitAspectRatio.js
									webkitBackfaceVisibility.js
									webkitBackgroundClip.js
									webkitBackgroundComposite.js
									webkitBackgroundOrigin.js
									webkitBackgroundSize.js
									webkitBorderAfter.js
									webkitBorderAfterColor.js
									webkitBorderAfterStyle.js
									webkitBorderAfterWidth.js
									webkitBorderBefore.js
									webkitBorderBeforeColor.js
									webkitBorderBeforeStyle.js
									webkitBorderBeforeWidth.js
									webkitBorderEnd.js
									webkitBorderEndColor.js
									webkitBorderEndStyle.js
									webkitBorderEndWidth.js
									webkitBorderFit.js
									webkitBorderHorizontalSpacing.js
									webkitBorderImage.js
									webkitBorderRadius.js
									webkitBorderStart.js
									webkitBorderStartColor.js
									webkitBorderStartStyle.js
									webkitBorderStartWidth.js
									webkitBorderVerticalSpacing.js
									webkitBoxAlign.js
									webkitBoxDirection.js
									webkitBoxFlex.js
									webkitBoxFlexGroup.js
									webkitBoxLines.js
									webkitBoxOrdinalGroup.js
									webkitBoxOrient.js
									webkitBoxPack.js
									webkitBoxReflect.js
									webkitBoxShadow.js
									webkitColorCorrection.js
									webkitColumnAxis.js
									webkitColumnBreakAfter.js
									webkitColumnBreakBefore.js
									webkitColumnBreakInside.js
									webkitColumnCount.js
									webkitColumnGap.js
									webkitColumnRule.js
									webkitColumnRuleColor.js
									webkitColumnRuleStyle.js
									webkitColumnRuleWidth.js
									webkitColumns.js
									webkitColumnSpan.js
									webkitColumnWidth.js
									webkitFilter.js
									webkitFlexAlign.js
									webkitFlexDirection.js
									webkitFlexFlow.js
									webkitFlexItemAlign.js
									webkitFlexLinePack.js
									webkitFlexOrder.js
									webkitFlexPack.js
									webkitFlexWrap.js
									webkitFlowFrom.js
									webkitFlowInto.js
									webkitFontFeatureSettings.js
									webkitFontKerning.js
									webkitFontSizeDelta.js
									webkitFontSmoothing.js
									webkitFontVariantLigatures.js
									webkitHighlight.js
									webkitHyphenateCharacter.js
									webkitHyphenateLimitAfter.js
									webkitHyphenateLimitBefore.js
									webkitHyphenateLimitLines.js
									webkitHyphens.js
									webkitLineAlign.js
									webkitLineBoxContain.js
									webkitLineBreak.js
									webkitLineClamp.js
									webkitLineGrid.js
									webkitLineSnap.js
									webkitLocale.js
									webkitLogicalHeight.js
									webkitLogicalWidth.js
									webkitMarginAfter.js
									webkitMarginAfterCollapse.js
									webkitMarginBefore.js
									webkitMarginBeforeCollapse.js
									webkitMarginBottomCollapse.js
									webkitMarginCollapse.js
									webkitMarginEnd.js
									webkitMarginStart.js
									webkitMarginTopCollapse.js
									webkitMarquee.js
									webkitMarqueeDirection.js
									webkitMarqueeIncrement.js
									webkitMarqueeRepetition.js
									webkitMarqueeSpeed.js
									webkitMarqueeStyle.js
									webkitMask.js
									webkitMaskAttachment.js
									webkitMaskBoxImage.js
									webkitMaskBoxImageOutset.js
									webkitMaskBoxImageRepeat.js
									webkitMaskBoxImageSlice.js
									webkitMaskBoxImageSource.js
									webkitMaskBoxImageWidth.js
									webkitMaskClip.js
									webkitMaskComposite.js
									webkitMaskImage.js
									webkitMaskOrigin.js
									webkitMaskPosition.js
									webkitMaskPositionX.js
									webkitMaskPositionY.js
									webkitMaskRepeat.js
									webkitMaskRepeatX.js
									webkitMaskRepeatY.js
									webkitMaskSize.js
									webkitMatchNearestMailBlockquoteColor.js
									webkitMaxLogicalHeight.js
									webkitMaxLogicalWidth.js
									webkitMinLogicalHeight.js
									webkitMinLogicalWidth.js
									webkitNbspMode.js
									webkitOverflowScrolling.js
									webkitPaddingAfter.js
									webkitPaddingBefore.js
									webkitPaddingEnd.js
									webkitPaddingStart.js
									webkitPerspective.js
									webkitPerspectiveOrigin.js
									webkitPerspectiveOriginX.js
									webkitPerspectiveOriginY.js
									webkitPrintColorAdjust.js
									webkitRegionBreakAfter.js
									webkitRegionBreakBefore.js
									webkitRegionBreakInside.js
									webkitRegionOverflow.js
									webkitRtlOrdering.js
									webkitSvgShadow.js
									webkitTapHighlightColor.js
									webkitTextCombine.js
									webkitTextDecorationsInEffect.js
									webkitTextEmphasis.js
									webkitTextEmphasisColor.js
									webkitTextEmphasisPosition.js
									webkitTextEmphasisStyle.js
									webkitTextFillColor.js
									webkitTextOrientation.js
									webkitTextSecurity.js
									webkitTextSizeAdjust.js
									webkitTextStroke.js
									webkitTextStrokeColor.js
									webkitTextStrokeWidth.js
									webkitTransform.js
									webkitTransformOrigin.js
									webkitTransformOriginX.js
									webkitTransformOriginY.js
									webkitTransformOriginZ.js
									webkitTransformStyle.js
									webkitTransition.js
									webkitTransitionDelay.js
									webkitTransitionDuration.js
									webkitTransitionProperty.js
									webkitTransitionTimingFunction.js
									webkitUserDrag.js
									webkitUserModify.js
									webkitUserSelect.js
									webkitWrap.js
									webkitWrapFlow.js
									webkitWrapMargin.js
									webkitWrapPadding.js
									webkitWrapShapeInside.js
									webkitWrapShapeOutside.js
									webkitWrapThrough.js
									webkitWritingMode.js
									whiteSpace.js
									widows.js
									width.js
									wordBreak.js
									wordSpacing.js
									wordWrap.js
									writingMode.js
									zIndex.js
									zoom.js
								props
							make_properties.pl
							package.json
							README.md
							tests:
								tests.js
					package.json
					README.md
				location:
					location.js
					package.json
					README.md
				navigator:
					index.js
					package.json
					README.md
				xmlhttprequest:
					autotest.watchr
					example:
						demo.js
					lib:
						XMLHttpRequest.js
					package.json
					README.md
					tests:
						test-constants.js
						test-events.js
						test-exceptions.js
						test-headers.js
						test-request-methods.js
						test-request-protocols.js
						testdata.txt
			package.json
			README.md
			src:
				wrapper.js
			test:
				core.js
				css.js
				fixtures:
					core.html
					css.css
					css.html
				helpers:
					helper.js
			tmp:
				jquery.js
		orientdb:
			ChangeLog
			config:
				test:
					dbConfig.json
					serverConfig.json
			examples:
				connect_create_drop.js
				open_size_close.js
			lib:
				orientdb:
					commands:
						Command.js
						CommandBase.js
						ConfigGet.js
						ConfigList.js
						ConfigSet.js
						Connect.js
						Count.js
						DataclusterAdd.js
						DataclusterCount.js
						DataclusterDatarange.js
						DataclusterDrop.js
						DataclusterLHClusterIsUsed.js
						DatasegmentAdd.js
						DatasegmentDrop.js
						DbClose.js
						DbCountrecords.js
						DbCreate.js
						DbDrop.js
						DbExist.js
						DbFreeze.js
						DbList.js
						DbOpen.js
						DbRelease.js
						DbReload.js
						DbSize.js
						ErrorCommand.js
						operation_types.js
						PositionsHigher.js
						PositionsLower.js
						RecordCreate.js
						RecordDelete.js
						RecordLoad.js
						RecordUpdate.js
						Shutdown.js
						TxCommit.js
					connection:
						debug.js
						long.js
						manager.js
						parser.js
						server.js
					db.js
					graphdb.js
					index.js
			node_modules:
				lodash:
					build:
						minify.js
						post-compile.js
						pre-compile.js
						util.js
					build.js
					dist:
						lodash.backbone.js
						lodash.backbone.min.js
						lodash.compat.js
						lodash.compat.min.js
						lodash.js
						lodash.legacy.js
						lodash.legacy.min.js
						lodash.min.js
						lodash.mobile.js
						lodash.mobile.min.js
						lodash.underscore.js
						lodash.underscore.min.js
					index.js
					LICENSE.txt
					lodash.js
					package.json
					README.md
					vendor:
						tar:
							lib:
								buffer-entry.js
								entry-writer.js
								entry.js
								extended-header-writer.js
								extended-header.js
								extract.js
								global-header-writer.js
								header.js
								pack.js
								parse.js
							LICENCE
							README.md
							tar.js
							vendor:
								block-stream:
									block-stream.js
									LICENCE
									README.md
								fstream:
									fstream.js
									lib:
										abstract.js
										collect.js
										dir-reader.js
										dir-writer.js
										file-reader.js
										file-writer.js
										get-type.js
										link-reader.js
										link-writer.js
										proxy-reader.js
										proxy-writer.js
										reader.js
										socket-reader.js
										writer.js
									LICENSE
									README.md
								graceful-fs:
									graceful-fs.js
									LICENSE
									README.md
								inherits:
									inherits.js
									README.md
								mkdirp:
									index.js
									LICENSE
									readme.markdown
								rimraf:
									AUTHORS
									LICENSE
									README.md
									rimraf.js
			package.json
			Readme.md
			test:
				disabled_freeze.js
				errors:
					test_db_open_failure.js
				parser:
					test_configuration.js
					test_deep_clone.js
					test_doc_serialize_deserialize.js
					test_hash_to_sql_sets_0.js
					test_hash_to_sql_sets_1.js
					test_hash_to_sql_sets_2.js
					test_long_conversion.js
					test_writeString.js
				setup_db.js
				test_cascading_save.js
				test_command_collection_result_after_reopen.js
				test_command_collection_result_object.js
				test_command_collection_result.js
				test_command_flat_result.js
				test_command_query_alias.js
				test_command_query_params.js
				test_command_record_result.js
				test_command_select_from_index.js
				test_command_very_long_result.js
				test_config_get.js
				test_config_list.js
				test_config_set.js
				test_connect_disconnect.js
				test_data_cluster_add_remove_memory.js
				test_data_cluster_add_remove_physical_memory.js
				test_data_cluster_count.js
				test_data_cluster_datarange.js
				test_data_segment.js
				test_date.js
				test_db_countrecords.js
				test_db_create_drop.js
				test_db_exist.js
				test_db_list.js
				test_db_open_3x.js
				test_db_open_close_3x.js
				test_db_open_close_twice.js
				test_db_open_close.js
				test_db_size.js
				test_document_save.js
				test_embedded_map.js
				test_embedded_types.js
				test_error_parsing.js
				test_fetch_plans.js
				test_graph_lots_of_edges.js
				test_graph_with_additional_mandatory_fields.js
				test_graph.js
				test_large_document_save_load.js
				test_lh_cluster_used.js
				test_multiple_connections.js
				test_positions.js
				test_record_create_document.js
				test_record_create_flat_data.js
				test_record_create_raw_bytes.js
				test_record_document_create_load_update_delete.js
				test_record_load.js
				test_records_in_cluster.js
				test_select_flatten.js
				test_transactions.js
				test_z_shutdown.js
		passport:
			lib:
				passport:
					context:
						http:
							actions.js
							context.js
					http:
						request.js
					index.js
					middleware:
						authenticate.js
						initialize.js
					strategies:
						session.js
					strategy.js
			LICENSE
			node_modules:
				pause:
					History.md
					index.js
					Makefile
					package.json
					Readme.md
				pkginfo:
					docs:
						docco.css
						pkginfo.html
					examples:
						all-properties.js
						array-argument.js
						multiple-properties.js
						object-argument.js
						package.json
						single-property.js
					lib:
						pkginfo.js
					package.json
					README.md
					test:
						pkginfo-test.js
			package.json
			README.md
		passport-local:
			lib:
				passport-local:
					errors:
						badrequesterror.js
					index.js
					strategy.js
			LICENSE
			node_modules:
				pkginfo:
					docs:
						docco.css
						pkginfo.html
					examples:
						all-properties.js
						array-argument.js
						multiple-properties.js
						object-argument.js
						package.json
						single-property.js
					lib:
						pkginfo.js
					package.json
					README.md
					test:
						pkginfo-test.js
			package.json
		request:
			index.js
			LICENSE
			node_modules:
				aws-sign:
					index.js
					LICENSE
					package.json
					README.md
				cookie-jar:
					index.js
					jar.js
					LICENSE
					package.json
					README.md
					tests:
						run.js
						test-cookie.js
						test-cookiejar.js
				forever-agent:
					index.js
					package.json
				form-data:
					lib:
						form_data.js
					License
					node_modules:
						async:
							component.json
							lib:
								async.js
							LICENSE
							package.json
							README.md
						combined-stream:
							lib:
								combined_stream.js
							License
							Makefile
							node_modules:
								delayed-stream:
									lib:
										delayed_stream.js
									License
									Makefile
									package.json
									Readme.md
									test:
										common.js
										integration:
											test-delayed-http-upload.js
											test-delayed-stream-auto-pause.js
											test-delayed-stream-pause.js
											test-delayed-stream.js
											test-handle-source-errors.js
											test-max-data-size.js
											test-pipe-resumes.js
											test-proxy-readable.js
										run.js
							package.json
							Readme.md
							test:
								common.js
								fixture:
									file1.txt
									file2.txt
								integration:
									test-callback-streams.js
									test-data-size.js
									test-delayed-streams-and-buffers-and-strings.js
									test-delayed-streams.js
									test-empty-string.js
									test-is-stream-like.js
									test-max-data-size.js
									test-unpaused-streams.js
								run.js
					package.json
					Readme.md
				hawk:
					example:
						usage.js
					images:
						hawk.png
						logo.png
					index.js
					lib:
						client.js
						crypto.js
						index.js
						server.js
						uri.js
						utils.js
					LICENSE
					Makefile
					node_modules:
						boom:
							images:
								boom.png
							index.js
							lib:
								index.js
							LICENSE
							Makefile
							package.json
							README.md
							test:
								index.js
						cryptiles:
							index.js
							lib:
								index.js
							LICENSE
							Makefile
							package.json
							README.md
							test:
								index.js
						hoek:
							images:
								hoek.png
							index.js
							lib:
								escape.js
								index.js
							LICENSE
							Makefile
							package.json
							README.md
							test:
								escaper.js
								index.js
								modules:
									test1.js
									test2.js
									test3.js
						sntp:
							examples:
								offset.js
								time.js
							index.js
							lib:
								index.js
							LICENSE
							Makefile
							package.json
							README.md
							test:
								index.js
					package.json
					README.md
					test:
						client.js
						crypto.js
						index.js
						readme.js
						server.js
						uri.js
						utils.js
				http-signature:
					http_signing.md
					lib:
						index.js
						parser.js
						signer.js
						util.js
						verify.js
					LICENSE
					node_modules:
						asn1:
							lib:
								ber:
									errors.js
									index.js
									reader.js
									types.js
									writer.js
								index.js
							LICENSE
							package.json
							README.md
							tst:
								ber:
									reader.test.js
									writer.test.js
						assert-plus:
							assert.js
							package.json
							README.md
						ctype:
							CHANGELOG
							ctf.js
							ctio.js
							ctype.js
							LICENSE
							man:
								man3ctype:
									ctio.3ctype
							package.json
							README
							README.old
							tools:
								jsl.conf
								jsstyle
							tst:
								ctf:
									float.json
									int.json
									psinfo.json
									struct.json
									tst.fail.js
									tst.float.js
									tst.int.js
									tst.psinfo.js
									tst.struct.js
									tst.typedef.js
									typedef.json
								ctio:
									float:
										tst.rfloat.js
										tst.wfloat.js
									int:
										tst.64.js
										tst.rint.js
										tst.wbounds.js
										tst.wint.js
									uint:
										tst.64.js
										tst.roundtrip.js
										tst.ruint.js
										tst.wuint.js
								ctype:
									tst.basicr.js
									tst.basicw.js
									tst.char.js
									tst.endian.js
									tst.oldwrite.js
									tst.readSize.js
									tst.structw.js
									tst.writeStruct.js
					package.json
					README.md
				json-stringify-safe:
					LICENSE
					package.json
					README.md
					stringify.js
					test.js
				mime:
					LICENSE
					mime.js
					package.json
					README.md
					test.js
					types:
						mime.types
						node.types
				node-uuid:
					benchmark:
						bench.gnu
						bench.sh
						benchmark-native.c
						benchmark.js
						README.md
					LICENSE.md
					package.json
					README.md
					test:
						compare_v1.js
						test.html
						test.js
					uuid.js
				oauth-sign:
					index.js
					LICENSE
					package.json
					README.md
					test.js
				qs:
					benchmark.js
					component.json
					examples.js
					History.md
					index.js
					Makefile
					package.json
					Readme.md
					test:
						browser:
							expect.js
							index.html
							jquery.js
							mocha.css
							mocha.js
							qs.css
							qs.js
						parse.js
						stringify.js
				tunnel-agent:
					index.js
					LICENSE
					package.json
					README.md
			package.json
			README.md
			tests:
				googledoodle.jpg
				run.js
				server.js
				squid.conf
				ssl:
					ca:
						ca.cnf
						ca.crl
						ca.crt
						ca.csr
						ca.key
						ca.srl
						server.cnf
						server.crt
						server.csr
						server.js
						server.key
					npm-ca.crt
					test.crt
					test.key
				test-basic-auth.js
				test-body.js
				test-defaults.js
				test-digest-auth.js
				test-emptyBody.js
				test-errors.js
				test-follow-all-303.js
				test-follow-all.js
				test-form.js
				test-hawk.js
				test-headers.js
				test-http-signature.js
				test-httpModule.js
				test-https-strict.js
				test-https.js
				test-localAddress.js
				test-oauth.js
				test-onelineproxy.js
				test-params.js
				test-piped-redirect.js
				test-pipes.js
				test-pool.js
				test-protocol-changing-redirect.js
				test-proxy.js
				test-qs.js
				test-redirect.js
				test-s3.js
				test-timeout.js
				test-toJSON.js
				test-tunnel.js
				unicycle.jpg
		util:
			node_modules:
				events.node:
					events.js
					package.json
			package.json
			util.js
		xmldom:
			__package__.js
			changelog
			component.json
			dom-parser.js
			dom.js
			package.json
			readme.md
			sax.js
			t:
				cover
				dom:
					require.t.js
				test
			test:
				3rd-cases:
					index.js
					mock.js
					o3xml.js
				big-file-performance.js
				dom:
					attr.js
					clone.js
					element.js
					fragment.js
					index.js
					level3.js
					serializer.js
				error.js
				html:
					normalize.js
				index.js
				locator.js
				namespace.js
				node.js
				parse-element.js
				simple.js
				test.js
				test.xml
	package.json
	pc_biopax_1.xml
	pc_sif_1.txt
	public:
	README.md
	routes:
		admins.js
		Agent.js
		Group.js
		index.js
		MemberInvitation.js
		MemberRequest.js
		Network.js
		System.js
		Task.js
		User.js
	save_document.js
	sif_test.json
	site.js
	small_corpus_test.xbel
	small_corpus.xbel.xml
	test:
		build_test_db.js
		download_pc_sif.js
		group_ideker_lab.js
		group_nci_nature.js
		group_reactome.js
		node_modules:
			api-easy:
				docs:
					api-easy.html
					docco.css
				examples:
					simple-example.js
				lib:
					api-easy.js
				LICENSE
				node_modules:
					pkginfo:
						docs:
							docco.css
							pkginfo.html
						examples:
							all-properties.js
							array-argument.js
							multiple-properties.js
							object-argument.js
							package.json
							single-property.js
						lib:
							pkginfo.js
						package.json
						README.md
						test:
							pkginfo-test.js
					qs:
						benchmark.js
						component.json
						examples.js
						History.md
						index.js
						Makefile
						package.json
						Readme.md
						test:
							browser:
								expect.js
								index.html
								jquery.js
								mocha.css
								mocha.js
								qs.css
								qs.js
							parse.js
							stringify.js
					request:
						index.js
						LICENSE
						node_modules:
							aws-sign:
								index.js
								package.json
							cookie-jar:
								index.js
								jar.js
								package.json
								tests:
									run.js
									test-cookie.js
									test-cookiejar.js
							forever-agent:
								index.js
								package.json
							form-data:
								lib:
									form_data.js
								License
								Makefile
								node_modules:
									async:
										index.js
										lib:
											async.js
										LICENSE
										Makefile
										package.json
										README.md
									combined-stream:
										lib:
											combined_stream.js
										License
										Makefile
										node_modules:
											delayed-stream:
												lib:
													delayed_stream.js
												License
												Makefile
												package.json
												Readme.md
												test:
													common.js
													integration:
														test-delayed-http-upload.js
														test-delayed-stream-auto-pause.js
														test-delayed-stream-pause.js
														test-delayed-stream.js
														test-handle-source-errors.js
														test-max-data-size.js
														test-pipe-resumes.js
														test-proxy-readable.js
													run.js
										package.json
										Readme.md
										test:
											common.js
											fixture:
												file1.txt
												file2.txt
											integration:
												test-callback-streams.js
												test-data-size.js
												test-delayed-streams-and-buffers-and-strings.js
												test-delayed-streams.js
												test-empty-string.js
												test-is-stream-like.js
												test-max-data-size.js
												test-unpaused-streams.js
											run.js
								package.json
								Readme.md
								test:
									common.js
									fixture:
										bacon.txt
										unicycle.jpg
									integration:
										test-custom-headers.js
										test-form-get-length.js
										test-get-boundary.js
										test-http-response.js
										test-pipe.js
										test-submit-custom.js
										test-submit.js
									run.js
							hawk:
								example:
									usage.js
								images:
									hawk.png
									logo.png
								index.js
								lib:
									client.js
									crypto.js
									index.js
									server.js
									uri.js
									utils.js
								LICENSE
								Makefile
								node_modules:
									boom:
										images:
											boom.png
										index.js
										lib:
											index.js
										LICENSE
										Makefile
										package.json
										README.md
										test:
											index.js
									cryptiles:
										index.js
										lib:
											index.js
										LICENSE
										Makefile
										package.json
										README.md
										test:
											index.js
									hoek:
										images:
											hoek.png
										index.js
										lib:
											index.js
										LICENSE
										Makefile
										package.json
										README.md
										test:
											index.js
											modules:
												test1.js
												test2.js
												test3.js
									sntp:
										examples:
											offset.js
											time.js
										index.js
										lib:
											index.js
										LICENSE
										Makefile
										package.json
										README.md
										test:
											index.js
								package.json
								README.md
								test:
									client.js
									crypto.js
									index.js
									readme.js
									server.js
									uri.js
									utils.js
							json-stringify-safe:
								LICENSE
								package.json
								README.md
								stringify.js
								test.js
							mime:
								LICENSE
								mime.js
								package.json
								README.md
								test.js
								types:
									mime.types
									node.types
							node-uuid:
								benchmark:
									bench.gnu
									bench.sh
									benchmark-native.c
									benchmark.js
									README.md
								LICENSE.md
								package.json
								README.md
								test:
									compare_v1.js
									test.html
									test.js
								uuid.js
							oauth-sign:
								index.js
								package.json
								test.js
							tunnel-agent:
								index.js
								package.json
						package.json
						README.md
						tests:
							googledoodle.jpg
							run.js
							server.js
							squid.conf
							ssl:
								ca:
									ca.cnf
									ca.crl
									ca.crt
									ca.csr
									ca.key
									ca.srl
									server.cnf
									server.crt
									server.csr
									server.js
									server.key
								npm-ca.crt
								test.crt
								test.key
							test-basic-auth.js
							test-body.js
							test-defaults.js
							test-digest-auth.js
							test-errors.js
							test-follow-all-303.js
							test-follow-all.js
							test-form.js
							test-hawk.js
							test-headers.js
							test-httpModule.js
							test-https-strict.js
							test-https.js
							test-oauth.js
							test-params.js
							test-piped-redirect.js
							test-pipes.js
							test-pool.js
							test-protocol-changing-redirect.js
							test-proxy.js
							test-qs.js
							test-redirect.js
							test-s3.js
							test-timeout.js
							test-toJSON.js
							test-tunnel.js
							unicycle.jpg
					vows:
						bin:
							vows
						lib:
							assert:
								error.js
								macros.js
								utils.js
							vows:
								console.js
								context.js
								coverage:
									file.js
									fragments:
										coverage-foot.html
										coverage-head.html
									report-html.js
									report-json.js
									report-plain.js
									report-xml.js
								extras.js
								reporters:
									dot-matrix.js
									json.js
									silent.js
									spec.js
									tap.js
									watch.js
									xunit.js
								suite.js
							vows.js
						LICENSE
						Makefile
						node_modules:
							diff:
								diff.js
								index.html
								LICENSE
								package.json
								README.md
								style.css
								test:
									applyPatch.js
									createPatch.js
									diffTest.js
									mocha.opts
							eyes:
								lib:
									eyes.js
								LICENSE
								Makefile
								package.json
								README.md
								test:
									eyes-test.js
						package.json
						README.md
						test:
							assert-test.js
							fixtures:
								isolate:
									failing.js
									log.js
									passing.js
									stderr.js
								supress-stdout:
									output.js
							isolate-test.js
							supress-stdout-test.js
							vows_underscore_test.js
							vows-error-test.js
							vows-test.js
							VowsCamelCaseTest.js
				package.json
				README.md
				test:
					core-test.js
					file.txt
					helpers.js
					run-test.js
					upload-test.js
					vows-test.js
			mocha:
				bin:
					_mocha
					mocha
				component.json
				History.md
				images:
					error.png
					ok.png
				index.js
				lib:
					browser:
						debug.js
						diff.js
						events.js
						fs.js
						path.js
						progress.js
						tty.js
					context.js
					hook.js
					interfaces:
						bdd.js
						exports.js
						index.js
						qunit.js
						tdd.js
					mocha.js
					ms.js
					reporters:
						base.js
						doc.js
						dot.js
						html-cov.js
						html.js
						index.js
						json-cov.js
						json-stream.js
						json.js
						landing.js
						list.js
						markdown.js
						min.js
						nyan.js
						progress.js
						spec.js
						tap.js
						teamcity.js
						templates:
							coverage.jade
							menu.jade
							script.html
							style.html
						xunit.js
					runnable.js
					runner.js
					suite.js
					template.html
					test.js
					utils.js
				LICENSE
				Makefile
				mocha.css
				mocha.js
				node_modules:
					commander:
						History.md
						index.js
						lib:
							commander.js
						Makefile
						package.json
						Readme.md
					debug:
						component.json
						debug.js
						example:
							app.js
							browser.html
							wildcards.js
							worker.js
						History.md
						index.js
						lib:
							debug.js
						package.json
						Readme.md
					diff:
						diff.js
						index.html
						LICENSE
						package.json
						README.md
						style.css
						test:
							diffTest.js
					growl:
						History.md
						lib:
							growl.js
						package.json
						Readme.md
						test.js
					jade:
						bin:
							jade
						index.js
						jade.js
						jade.md
						jade.min.js
						lib:
							compiler.js
							doctypes.js
							filters.js
							inline-tags.js
							jade.js
							lexer.js
							nodes:
								attrs.js
								block-comment.js
								block.js
								case.js
								code.js
								comment.js
								doctype.js
								each.js
								filter.js
								index.js
								literal.js
								mixin.js
								node.js
								tag.js
								text.js
							parser.js
							runtime.js
							self-closing.js
							utils.js
						LICENSE
						node_modules:
							mkdirp:
								examples:
									pow.js
									pow.js.orig
									pow.js.rej
								index.js
								LICENSE
								package.json
								README.markdown
								test:
									chmod.js
									clobber.js
									mkdirp.js
									perm_sync.js
									perm.js
									race.js
									rel.js
									sync.js
									umask_sync.js
									umask.js
						package.json
						runtime.js
						runtime.min.js
						test.jade
						testing:
							head.jade
							index.jade
							index.js
							layout.jade
							user.jade
							user.js
					mkdirp:
						examples:
							pow.js
							pow.js.orig
							pow.js.rej
						index.js
						LICENSE
						package.json
						README.markdown
						test:
							chmod.js
							clobber.js
							mkdirp.js
							perm_sync.js
							perm.js
							race.js
							rel.js
							return_sync.js
							return.js
							root.js
							sync.js
							umask_sync.js
							umask.js
					ms:
						component.json
						History.md
						Makefile
						ms.js
						package.json
						README.md
						test:
							index.html
							support:
								jquery.js
							test.js
				package.json
				Readme.md
				test.js
			request:
				index.js
				LICENSE
				node_modules:
					aws-sign:
						index.js
						LICENSE
						package.json
						README.md
					cookie-jar:
						index.js
						jar.js
						LICENSE
						package.json
						README.md
						tests:
							run.js
							test-cookie.js
							test-cookiejar.js
					forever-agent:
						index.js
						package.json
					form-data:
						lib:
							form_data.js
						License
						Makefile
						node_modules:
							async:
								lib:
									async.js
								LICENSE
								package.json
								README.md
							combined-stream:
								lib:
									combined_stream.js
								License
								Makefile
								node_modules:
									delayed-stream:
										lib:
											delayed_stream.js
										License
										Makefile
										package.json
										Readme.md
										test:
											common.js
											integration:
												test-delayed-http-upload.js
												test-delayed-stream-auto-pause.js
												test-delayed-stream-pause.js
												test-delayed-stream.js
												test-handle-source-errors.js
												test-max-data-size.js
												test-pipe-resumes.js
												test-proxy-readable.js
											run.js
								package.json
								Readme.md
								test:
									common.js
									fixture:
										file1.txt
										file2.txt
									integration:
										test-callback-streams.js
										test-data-size.js
										test-delayed-streams-and-buffers-and-strings.js
										test-delayed-streams.js
										test-empty-string.js
										test-is-stream-like.js
										test-max-data-size.js
										test-unpaused-streams.js
									run.js
						node-form-data.sublime-project
						node-form-data.sublime-workspace
						package.json
						Readme.md
						sftp-config.json
						test:
							common.js
							fixture:
								bacon.txt
								unicycle.jpg
							integration:
								test-custom-filename.js
								test-custom-headers.js
								test-form-get-length.js
								test-get-boundary.js
								test-http-response.js
								test-pipe.js
								test-submit-custom.js
								test-submit.js
							run.js
					hawk:
						example:
							usage.js
						images:
							hawk.png
							logo.png
						index.js
						lib:
							client.js
							crypto.js
							index.js
							server.js
							uri.js
							utils.js
						LICENSE
						Makefile
						node_modules:
							boom:
								images:
									boom.png
								index.js
								lib:
									index.js
								LICENSE
								Makefile
								package.json
								README.md
								test:
									index.js
							cryptiles:
								index.js
								lib:
									index.js
								LICENSE
								Makefile
								package.json
								README.md
								test:
									index.js
							hoek:
								images:
									hoek.png
								index.js
								lib:
									escape.js
									index.js
								LICENSE
								Makefile
								package.json
								README.md
								test:
									escaper.js
									index.js
									modules:
										test1.js
										test2.js
										test3.js
							sntp:
								examples:
									offset.js
									time.js
								index.js
								lib:
									index.js
								LICENSE
								Makefile
								package.json
								README.md
								test:
									index.js
						package.json
						README.md
						test:
							client.js
							crypto.js
							index.js
							readme.js
							server.js
							uri.js
							utils.js
					http-signature:
						http_signing.md
						lib:
							index.js
							parser.js
							signer.js
							util.js
							verify.js
						LICENSE
						node_modules:
							asn1:
								lib:
									ber:
										errors.js
										index.js
										reader.js
										types.js
										writer.js
									index.js
								LICENSE
								package.json
								README.md
								tst:
									ber:
										reader.test.js
										writer.test.js
							assert-plus:
								assert.js
								package.json
								README.md
							ctype:
								CHANGELOG
								ctf.js
								ctio.js
								ctype.js
								LICENSE
								man:
									man3ctype:
										ctio.3ctype
								package.json
								README
								README.old
								tools:
									jsl.conf
									jsstyle
								tst:
									ctf:
										float.json
										int.json
										psinfo.json
										struct.json
										tst.fail.js
										tst.float.js
										tst.int.js
										tst.psinfo.js
										tst.struct.js
										tst.typedef.js
										typedef.json
									ctio:
										float:
											tst.rfloat.js
											tst.wfloat.js
										int:
											tst.64.js
											tst.rint.js
											tst.wbounds.js
											tst.wint.js
										uint:
											tst.64.js
											tst.roundtrip.js
											tst.ruint.js
											tst.wuint.js
									ctype:
										tst.basicr.js
										tst.basicw.js
										tst.char.js
										tst.endian.js
										tst.oldwrite.js
										tst.readSize.js
										tst.structw.js
										tst.writeStruct.js
						package.json
						README.md
					json-stringify-safe:
						LICENSE
						package.json
						README.md
						stringify.js
						test.js
					mime:
						LICENSE
						mime.js
						package.json
						README.md
						test.js
						types:
							mime.types
							node.types
					node-uuid:
						benchmark:
							bench.gnu
							bench.sh
							benchmark-native.c
							benchmark.js
							README.md
						LICENSE.md
						package.json
						README.md
						test:
							compare_v1.js
							test.html
							test.js
						uuid.js
					oauth-sign:
						index.js
						LICENSE
						package.json
						README.md
						test.js
					qs:
						benchmark.js
						component.json
						examples.js
						History.md
						index.js
						Makefile
						package.json
						Readme.md
						test:
							browser:
								expect.js
								index.html
								jquery.js
								mocha.css
								mocha.js
								qs.css
								qs.js
							parse.js
							stringify.js
					tunnel-agent:
						index.js
						LICENSE
						package.json
						README.md
				package.json
				README.md
				tests:
					googledoodle.jpg
					run.js
					server.js
					squid.conf
					ssl:
						ca:
							ca.cnf
							ca.crl
							ca.crt
							ca.csr
							ca.key
							ca.srl
							server.cnf
							server.crt
							server.csr
							server.js
							server.key
						npm-ca.crt
						test.crt
						test.key
					test-basic-auth.js
					test-body.js
					test-defaults.js
					test-digest-auth.js
					test-emptyBody.js
					test-errors.js
					test-follow-all-303.js
					test-follow-all.js
					test-form.js
					test-hawk.js
					test-headers.js
					test-http-signature.js
					test-httpModule.js
					test-https-strict.js
					test-https.js
					test-localAddress.js
					test-oauth.js
					test-onelineproxy.js
					test-params.js
					test-piped-redirect.js
					test-pipes.js
					test-pool.js
					test-protocol-changing-redirect.js
					test-proxy.js
					test-qs.js
					test-redirect.js
					test-s3.js
					test-timeout.js
					test-toJSON.js
					test-tunnel.js
					unicycle.jpg
			should:
				examples:
					runner.js
				History.md
				index.js
				lib:
					eql.js
					should.js
				Makefile
				package.json
				Readme.md
				test:
					exist.test.js
					should.test.js
			vows:
				bin:
					vows
				lib:
					assert:
						error.js
						macros.js
						utils.js
					utils:
						wildcard.js
					vows:
						console.js
						context.js
						coverage:
							file.js
							fragments:
								coverage-foot.html
								coverage-head.html
							report-html.js
							report-json.js
							report-plain.js
							report-xml.js
						extras.js
						reporters:
							dot-matrix.js
							json.js
							silent.js
							spec.js
							tap.js
							watch.js
							xunit.js
						suite.js
					vows.js
				LICENSE
				Makefile
				node_modules:
					diff:
						diff.js
						index.html
						LICENSE
						package.json
						README.md
						style.css
						test:
							applyPatch.js
							createPatch.js
							diffTest.js
							mocha.opts
					eyes:
						lib:
							eyes.js
						LICENSE
						Makefile
						package.json
						README.md
						test:
							eyes-test.js
				package.json
				README.md
				test:
					assert-test.js
					fixtures:
						isolate:
							failing.js
							log.js
							passing.js
							stderr.js
						supress-stdout:
							output.js
					isolate-test.js
					supress-stdout-test.js
					vows_underscore_test.js
					vows-error-test.js
					vows-test.js
					VowsCamelCaseTest.js
		package.json
		README.md
		scratch.js
		status-test.js
		test_accounts:
			user_dexter.js
		test_dbs:
		test_networks:
			pc_sif:
				CELL_MAP.TGFBR.544338.jdex
				NCI_NATURE.Alpha9 beta1 integrin signaling events.517156.jdex
				NCI_NATURE.Arf6 downstream pathway.517163.jdex
				NCI_NATURE.Arf6 signaling events.517132.jdex
				NCI_NATURE.Arf6 trafficking events.517193.jdex
				NCI_NATURE.Beta1 integrin cell surface interactions.517095.jdex
				NCI_NATURE.Class I PI3K signaling events mediated by Akt.517226.jdex
				NCI_NATURE.Class I PI3K signaling events.517131.jdex
				NCI_NATURE.EGF receptor (ErbB1) signaling pathway.517128.jdex
				NCI_NATURE.EGFR-dependent Endothelin signaling events.517181.jdex
				NCI_NATURE.Endothelins.517197.jdex
				NCI_NATURE.ErbB receptor signaling network.517151.jdex
				NCI_NATURE.ErbB1 downstream signaling.517180.jdex
				NCI_NATURE.FoxO family signaling.517135.jdex
				NCI_NATURE.Glypican 1 network.517070.jdex
				NCI_NATURE.Glypican pathway.517037.jdex
				NCI_NATURE.GMCSF-mediated signaling events.517039.jdex
				NCI_NATURE.IFN-gamma pathway.517107.jdex
				NCI_NATURE.IGF1 pathway.517060.jdex
				NCI_NATURE.IL3-mediated signaling events.517142.jdex
				NCI_NATURE.IL5-mediated signaling events.517205.jdex
				NCI_NATURE.Insulin Pathway.517044.jdex
				NCI_NATURE.Integrin family cell surface interactions.517077.jdex
				NCI_NATURE.Internalization of ErbB1.517087.jdex
				NCI_NATURE.LKB1 signaling events.517227.jdex
				NCI_NATURE.mTOR signaling pathway.517149.jdex
				NCI_NATURE.Nectin adhesion pathway.517050.jdex
				NCI_NATURE.PAR1-mediated thrombin signaling events.517109.jdex
				NCI_NATURE.PDGF receptor signaling network.517075.jdex
				NCI_NATURE.PDGFR-beta signaling pathway.517118.jdex
				NCI_NATURE.Plasma membrane estrogen receptor signaling.517134.jdex
				NCI_NATURE.Proteoglycan syndecan-mediated signaling events.517215.jdex
				NCI_NATURE.S1P1 pathway.517172.jdex
				NCI_NATURE.Signaling events mediated by focal adhesion kinase.517152.jdex
				NCI_NATURE.Signaling events mediated by Hepatocyte Growth Factor Receptor (c-Met).517069.jdex
				NCI_NATURE.Signaling events mediated by VEGFR1 and VEGFR2.517094.jdex
				NCI_NATURE.Sphingosine 1-phosphate (S1P) pathway.517213.jdex
				NCI_NATURE.Syndecan-1-mediated signaling events.517032.jdex
				NCI_NATURE.Thrombin protease-activated receptor (PAR) pathway.517130.jdex
				NCI_NATURE.TRAIL signaling pathway.517058.jdex
				NCI_NATURE.Urokinase-type plasminogen activator (uPA) and uPAR-mediated signaling.517097.jdex
				NCI_NATURE.VEGF and VEGFR signaling network.517153.jdex
				REACTOME.Cell Cycle.Mitotic.485623.jdex
				REACTOME.Cyclin D associated events in G1.485628.jdex
				REACTOME.G0 and Early G1.485619.jdex
				REACTOME.G1 Phase.485618.jdex
				REACTOME.Mitotic G1-G1 S phases.485622.jdex
		user-test.js
	upload_test_sif.js
	upload_test_xbel
	views:
		about.ejs
		contact.ejs
		cyjs_visualize_network.ejs
		foot.ejs
		head.ejs
		home.ejs
		join.ejs
		login.ejs
		manage_tasks.ejs
		my_account.ejs
		nav.ejs
		policy.ejs
		search_groups.ejs
		search_networks.ejs
		search_users.ejs
		triptych_compare_networks.ejs
		upload_network.ejs
		view_group.ejs
		view_network.ejs
		view_user.ejs
	xbel_test.json
	xbel_test.xbel.xml
e){
  			$('#edges').append(formatEdge(edge, data.network));
  		});

    },
    // error handler
    function(error){
    	$('#error').append(formatError(error));
    })
);
</script>

<% include foot.ejs %>
