<% include head.ejs %>
<% include nav.ejs %>



<div class="tabbable">
	<div class="pageTitle">
		<div class="btn-group" > 
			<h4 id = "viewNetTitle"> Network Title </h4>
		</div>
		<div class="dropdown pull-right">
			<a class = "ndex-options" href="../visualizeNetwork/<%= networkId %>" > 
				<i class="icon-eye-open icon-large"></i> 
			</a>
			<a class = "ndex-options dropdown-toggle" href="javascript:void(0)" onclick="onWorkspace()" data-toggle="dropdown"> 
				<i class="icon-cog icon-large"></i> 
			</a>
			<ul class="dropdown-menu">
				<li id="netStatus"></li>
				<li> <a href = "#networkDisplay" data-toggle="modal"> Network Display </a></li>
				<li> <a href ="#" class = "networkMiniMenu" style = "display:none"> Edit Network MetaData </a> </li>
				<li> <a href ="#" class = "networkMiniMenu" style = "display:none"> Edit Network Permissions </a> </li>
				<li> <a href ="#" class = "networkMiniMenu" style = "display:none"> Publish Network </a> </li>
			</ul>
		</div>
			
	</div>
	<ul class="nav nav-tabs tab-title">
		<li class="active">
			<a href="#edges" data-toggle="tab" class="span5">Edges </a>
		</li>
		<li>
			<a href="#nodes" data-toggle="tab" class="span5"> Nodes </a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="edges"></div>
		<div class="tab-pane" id="nodes"></div>
	</div>
</div>
	<div id="error"></div>
	
	
<!-- //network display modal -->

<div id = "networkDisplay" class = " modal hide fade" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
	<div class = "modal-header">
		<h4 id = "myModalLabel"> Network Display Options </h4>
	</div>
	<div class="modal-body">
		<form> 
		<strong> Nodes </strong> <br>
		<label class = "span2">Nodes per page: </label>
		<input id = "nodeCount" type = "text" class = "span2" pattern = "" min = "1"> <br>
		<label class = "span2">Current page: </label>
		<input id = "nodePage" type = "text" class = "span2" pattern = "" min = "1" placeholder = "0"> <br>
		<strong> Edges </strong> <br>
		<label class = "span2">Edges per page: </label>
		<input id = "edgeCount" type = "text" class = "span2" pattern = "/^[0-9]+$/" min = "1"> <br>
		<label class = "span2">Current page: </label>
		<input id = "edgePage" type = "text" class = "span2" pattern = "" min = "1" placeholder = "0"> <br>
		</form> 
	</div>
	<div class = "modal-footer">
		<button class = "btn" onclick = "getNetwork()" data-dismiss = "modal" aria-hidden = "true"> Save Changes </button>
		<button class = "btn" data-dismiss = "modal" aria-hidden = "true"> Cancel </button>
	</div>
</div>
<script>


// the network id passed from the ejs template
var networkRID = '<%= networkId %>';

function formatError(error){

}

function formatEdge(edge, network){
	var edgeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		subjectSpan = document.createElement('span'),
		predicateSpan = document.createElement('span'),
		objectSpan = document.createElement('span'),
		subject = network.nodes[edge.s],
		object = network.nodes[edge.o],
		predicate = network.terms[edge.p]; 
		
	console.log(subject.represents + " : " + JSON.stringify(network.terms[subject.represents]));
	if (subject.represents && network.terms[subject.represents]){
		var term = network.terms[subject.represents];
		$(subjectSpan).addClass('term').html(term.name + ' ');
	}
	
	console.log(object.represents + " : " + JSON.stringify(network.terms[object.represents]));
	if (object.represents && network.terms[object.represents]){
		var term = network.terms[object.represents];
		$(objectSpan).addClass('term').html(' ' + term.name);
	}

	$(idSpan).addClass('edgeId').html(edge.id);
	//$(subjectSpan).addClass('nodeName').html(subject.name);
	//$(objectSpan).addClass('nodeName').html(object.name);
	$(predicateSpan).addClass('predicateName').html(predicate.name);

	
		
	$(edgeDIV).addClass('edge row-fluid')
			  .append(idSpan)
			  .append(subjectSpan)
			  .append(predicateSpan)
			  .append(objectSpan);
			  
	return edgeDIV;
}


function formatNode(node, network){
		
	var nodeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		nameSpan = document.createElement('span');
	
	$(idSpan).addClass('nodeId').html(node.id);
	$(nameSpan).addClass('nodeName').html(node.name);
	
	$(nodeDIV).addClass('node')
			  .append(idSpan);
			  //.append(nameSpan);

	console.log(node.represents + " : " + JSON.stringify(network.terms[node.represents]));
	if (node.represents && network.terms[node.represents]){
		var term = network.terms[node.represents],
			representsSpan = document.createElement('span');
		$(representsSpan).addClass('term').html(term.name);
		$(nodeDIV).append(representsSpan);
	}
	
	return nodeDIV;

}

//--------------------------------------------	
//		Workspace Functions
//--------------------------------------------
 if (isSignedIn()) { 


function onWorkspace(){
	var tempEle = document.getElementById('netStatus');
	var tempLnk = document.createElement('a');
	var found = false;
	
	
	$(tempEle).html('');
	$("input").each(function(index,value){
		if($(this).attr('title') == networkRID) {
			$(tempLnk).attr('onclick','removeFromWorkspace()').html('Remove from Workspace');
			$(tempEle).append(tempLnk);
			found = true;
		}
	});
	
	if(found)return;
	
	$(tempLnk).attr('onclick','addToWorkspace()').html('Add to Workspace');
	$(tempEle).append(tempLnk);
}

function addToWorkspace(){
	ndexClient.addNetworkToUserWorkspace(user.jid, networkRID, function(data) {});// TODO handle errors? along with similar functions
	var unlst = document.createElement('ul'),
		lst = document.createElement('li'),
		cnt = document.createElement('div'),
		formBox = document.createElement('form'),
		chckbox = document.createElement('input'),
		titleSpan = document.createElement('p');
	var parent = document.getElementById('workSurface');
		
	$(titleSpan).addClass('thumbText')
		.append($('#viewNetTitle').html());//
	$(chckbox).attr('id','checkbox' + networkRID)
		.attr('title',networkRID)
		.attr('type','checkbox');
	$(formBox).append(chckbox);
	$(cnt).addClass('thumbnail thumbIcon')
		.append(formBox)
		.append(titleSpan);
	$(lst).append(cnt);
	$(unlst).attr('id','thumbnail' + networkRID)
		.addClass('thumbnails')
		.append(lst);
	
	$(parent).append(unlst);
	onWorkspace();
}

function removeFromWorkspace(){
	var parent = document.getElementById('workSurface');

	$("input").each(function(index,value){
		if($(this).attr('title') == networkRID){
			ndexClient.deleteNetworkFromUserWorkspace(user.jid, $(this).attr('title'), function(data) {});
			
			var child = document.getElementById('thumbnail' + $(this).attr('title'));
			parent.removeChild(child);
			onWorkspace();
		}
	});
	
}

 } 
//-----------------------------------------------------
//		Pagination functions
//-----------------------------------------------------
function createPaginationModule(pageAmount, page, type) {

	var pagDiv = document.createElement('div');
	var pagUl = document.createElement('ul');
	
	var prevLi = document.createElement('li');
	var prev = document.createElement('a');
	var nextLi = document.createElement('li');
	var next = document.createElement('a');
	var firstLi = document.createElement('li');
	var first = document.createElement('a');
	var lastLi = document.createElement('li');
	var last = document.createElement('a');
	
	if(page == 0) $(prevLi).addClass('active');
	if(page == 0) $(firstLi).addClass('active');
	if(page == (pageAmount - 1)) $(nextLi).addClass('active');
	if(page == (pageAmount - 1)) $(lastLi).addClass('active');
	
	$(prev).attr('onclick','get'+type+'(Number(this.id))').attr('id', page).html('<');
	$(next).attr('onclick','get'+type+'(Number(this.id))').attr('id', page+2).html('>');
	$(first).attr('onclick','get'+type+'(1)').attr('rel','tooltip').attr('title', 'page 1').html('<<');
	$(last).attr('onclick','get'+type+'(Number(this.id))').attr('id', pageAmount).attr('rel','tooltip').attr('title', 'page ' + pageAmount).html('>>');
	
	$(firstLi).append(first);
	$(pagUl).append(firstLi);
	$(prevLi).addClass('prev').append(prev);
	$(pagUl).append(prevLi);
	$(nextLi).addClass('next').append(next);
	$(lastLi).append(last);
	
	for(var ii = 0; ii < pageAmount; ii++){
		if(ii < (page-2)) continue;
		if(ii > (page+2)) continue;
		var pagLi = document.createElement('li');
		var pagA = document.createElement('a');
		
		if(ii == page) { $(pagLi).addClass('active') };
		
		$(pagA).attr('onclick','get'+type+'(Number(this.innerHTML))').html( ii + 1);
		$(pagLi).append(pagA);
		$(pagUl).append(pagLi);
	}
	
	$(pagUl).append(nextLi);
	$(pagUl).append(lastLi);
	
	$(pagDiv).addClass('pagination pagination-centered').append(pagUl);
	return pagDiv;
}

function getNetwork(){
	getNodes();
	getEdges();
}

function getNodes(nodePage){
	var nodeInput = document.getElementById('nodeCount');
	var nodeCount = $(nodeInput).val();
	
	if(!nodePage) { nodePage = $('#nodePage').val(); }

	if(!nodeCount) { 
		$(nodeInput).val(15);
		nodeCount = 15;
	}
	if(!nodePage) { nodePage = 1; }
	
	$('#nodePage').val(nodePage);
	nodePage = nodePage -1;
	
	$(ndexClient.getNetworkByNodes(networkRID, '', '', nodeCount, nodePage, function(data) {
		$('#nodes').html('');
		$('#viewNetTitle').html('');
		$('#viewNetTitle').append(data.network.title);
		
		$.each(data.network.nodes, function(index, node){
  			$('#nodes').append(formatNode(node, data.network));
  		});
  		
  		$('#nodes').append(createPaginationModule(data.network.blockAmount, nodePage, 'Nodes'));
  		$('#nodePage').attr('placeholder', 'max value: ' + data.network.blockAmount);
		},
		function(error){
			$('#error').append(formatError(error));
		})
	);
}

function getEdges(edgePage){
	var edgeInput = document.getElementById('edgeCount');
	var edgeCount = $(edgeInput).val();
	
	if(!edgePage) { edgePage = $('#edgePage').val(); }

	if(!edgeCount) { 
		$(edgeInput).val(15);
		edgeCount = 15;
	}
	if(!edgePage) { edgePage = 1; }
	
	$('#edgePage').val(edgePage);
	edgePage = edgePage - 1;
	
	$(ndexClient.getNetworkByEdges(networkRID, '', '', '', '', edgeCount, edgePage, function(data) {
		$('#edges').html('');
		$.each(data.network.edges, function(index, edge){
  			$('#edges').append(formatEdge(edge, data.network));
  		});
  		
  		$('#edges').append(createPaginationModule(data.network.blockAmount, edgePage, 'Edges'));
  		$('#edgePage').attr('placeholder', 'max value: ' + data.network.blockAmount);
		},
		function(error){
			$('#error').append(formatError(error));
		})
	);
}

function isOwnedNetwork(jid){
	var owned = false;
	console.log(JSON.stringify(user));
	$.each(user.ownedNetworks, function(index, network){
		if (network.jid == jid) {
			owned = true;
			return false;
		}
	});
	return owned;
}





//prevent settings dropdown from closing when an input form is clicked
$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
	e.stopPropagation();
});

getNetwork();
setTimeout( function(){
		if(isSignedIn() && isOwnedNetwork(networkRID)){
			$('.networkMiniMenu').attr('style', 'display:block');
		}
	},
	1000
);
</script>


<% include sidebar.ejs %>
<% include foot.ejs %>
