<% include head.ejs %>
<% include nav.ejs %>

<div id="edges"></div>
<div id="nodes"></div>
<div id="error"></div>
<script>

// the network id passed from the ejs template
var networkId = convertToRID('<%= networkId %>');

function formatError(error){

}

function formatEdge(edge, network){
	var edgeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		subjectSpan = document.createElement('span'),
		predicateSpan = document.createElement('span'),
		objectSpan = document.createElement('span'),
		subject = network.nodes[edge.s],
		object = network.nodes[edge.o],
		predicate = network.terms[edge.p]; 
		
	$(idSpan).addClass('edgeId').html(edge.id);
	$(subjectSpan).addClass('nodeName').html(subject.name);
	$(objectSpan).addClass('nodeName').html(object.name);
	$(predicateSpan).addClass('predicateName').html(predicate.name);
		
	$(edgeDIV).addClass('edge')
			  .append(idSpan)
			  .append(subjectSpan)
			  .append(predicateSpan)
			  .append(objectSpan);
			  
	return edgeDIV;
}

function formatNode(node){
	var nodeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		nameSpan = document.createElement('span');
	
	$(idSpan).addClass('nodeId').html(node.id);
	$(nameSpan).addClass('nodeName').html(node.name);
	
	$(nodeDIV).addClass('node')
			  .append(idSpan)
			  .append(nameSpan);
			  
	return nodeDIV;

}


// On load, we get the network, then push it to cytoscape.js on the callback
$(ndexClient.getNetwork(networkId, function(data){
		console.log("Got results from getNetwork");
		console.log(data);
	
  		// Clears the nodes and edges divs
		$('#nodes').html('');
		$('#edges').html('');
		
  		$.each(data.network.nodes, function(index, node){
			$('#nodes').append(formatNode(node));
		});  

  		
  		$.each(data.network.edges, function(index, edge){
  			$('#edges').append(formatEdge(edge, data.network));
  		});

    },
    // error handler
    function(error){
    	$('#error').append(formatError(error));
    })
);
</script>

<% include foot.ejs %>
