<% include head.ejs %>
<% include nav.ejs %>
<% include sidebar.ejs %>


<div class="tabbable">
	<div class="pageTitle">
		<div class="btn-group" > 
			<h4 id = "viewNetTitle"> Network Title </h4>
		</div>
		<div class="btn-group pull-right">
			<button class = "btn btn-large dropdown-toggle" onclick="onWorkspace()" data-toggle="dropdown"> 
				<i class="icon-cog icon-large"></i> 
			</button>
			<ul class="dropdown-menu">
				<li id="netStatus"></li>
				<li> <a href = "#networkDisplay" data-toggle="modal"> Network Display </a></li>
			</ul>
		</div>
			
	</div>
	<ul class="nav nav-tabs tab-title">
		<li class="active">
			<a href="#edges" data-toggle="tab" class="span5">Edges </a>
		</li>
		<li>
			<a href="#nodes" data-toggle="tab" class="span5"> Nodes </a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="edges"></div>
		<div class="tab-pane" id="nodes"></div>
	</div>
</div>
	<div id="error"></div>
	
	
<!-- //network display modal -->

<div id = "networkDisplay" class = " modal hide fade" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
	<div class = "modal-header">
		<h4 id = "myModalLabel"> Network Display Options </h4>
	</div>
	<div class="modal-body">
		<strong> Nodes </strong> <br>
		Nodes per page: <input id = "nodeCount" type = "text" class = "span1" pattern = "" min = "1"> <br>
		<strong> Edges </strong> <br>
		Edges per page: <input id = "edgeCount" type = "text" class = "span1" pattern = "" min = "1"> <br>
	</div>
	<div class = "modal-footer">
		<button class = "btn" onclick = "getNetwork()" data-dismiss = "modal" aria-hidden = "true"> Save Changes </button>
		<button class = "btn" data-dismiss = "modal" aria-hidden = "true"> Cancel </button>
	</div>
</div>
<script>

// the network id passed from the ejs template
var networkRID = '<%= networkId %>';

function formatError(error){

}

function formatEdge(edge, network){
	var edgeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		subjectSpan = document.createElement('span'),
		predicateSpan = document.createElement('span'),
		objectSpan = document.createElement('span'),
		subject = network.nodes[edge.s],
		object = network.nodes[edge.o],
		predicate = network.terms[edge.p]; 
		
	console.log(subject.represents + " : " + JSON.stringify(network.terms[subject.represents]));
	if (subject.represents && network.terms[subject.represents]){
		var term = network.terms[subject.represents];
		$(subjectSpan).addClass('term').html(term.name + ' ');
	}
	
	console.log(object.represents + " : " + JSON.stringify(network.terms[object.represents]));
	if (object.represents && network.terms[object.represents]){
		var term = network.terms[object.represents];
		$(objectSpan).addClass('term').html(' ' + term.name);
	}

	$(idSpan).addClass('edgeId').html(edge.id);
	//$(subjectSpan).addClass('nodeName').html(subject.name);
	//$(objectSpan).addClass('nodeName').html(object.name);
	$(predicateSpan).addClass('predicateName').html(predicate.name);

	
		
	$(edgeDIV).addClass('edge row-fluid')
			  .append(idSpan)
			  .append(subjectSpan)
			  .append(predicateSpan)
			  .append(objectSpan);
			  
	return edgeDIV;
}


function formatNode(node, network){
		
	var nodeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		nameSpan = document.createElement('span');
	
	$(idSpan).addClass('nodeId').html(node.id);
	$(nameSpan).addClass('nodeName').html(node.name);
	
	$(nodeDIV).addClass('node')
			  .append(idSpan);
			  //.append(nameSpan);

	console.log(node.represents + " : " + JSON.stringify(network.terms[node.represents]));
	if (node.represents && network.terms[node.represents]){
		var term = network.terms[node.represents],
			representsSpan = document.createElement('span');
		$(representsSpan).addClass('term').html(term.name);
		$(nodeDIV).append(representsSpan);
	}
	
	return nodeDIV;

}

function onWorkspace(){
	var tempEle = document.getElementById('netStatus');
	var tempLnk = document.createElement('a');
	var found = false;
	
	
	$(tempEle).html('');
	$("input").each(function(index,value){
		if($(this).attr('title') == networkRID) {
			$(tempLnk).attr('onclick','removeFromWorkspace()').html('Remove from Workspace');
			$(tempEle).append(tempLnk);
			found = true;
		}
	});
	
	if(found)return;
	
	$(tempLnk).attr('onclick','addToWorkspace()').html('Add to Workspace');
	$(tempEle).append(tempLnk);
}

function addToWorkspace(){
	var unlst = document.createElement('ul'),
		lst = document.createElement('li'),
		cnt = document.createElement('div'),
		formBox = document.createElement('form'),
		chckbox = document.createElement('input'),
		titleSpan = document.createElement('p');
	var parent = document.getElementById('workSurface');
		
	$(titleSpan).addClass('thumbText')
		.append(networkRID);//
	$(chckbox).attr('id','checkbox' + networkRID)
		.attr('title',networkRID)
		.attr('type','checkbox');
	$(formBox).append(chckbox);
	$(cnt).addClass('thumbnail thumbIcon')
		.append(formBox)
		.append(titleSpan);
	$(lst).append(cnt);
	$(unlst).attr('id','thumbnail' + networkRID)
		.addClass('thumbnails')
		.append(lst);
	
	$(parent).append(unlst);
	onWorkspace();
}

function removeFromWorkspace(){
	var parent = document.getElementById('workSurface');

	$("input").each(function(index,value){
		if($(this).attr('title') == networkRID){
			var child = document.getElementById('thumbnail' + $(this).attr('title'));
			parent.removeChild(child);
			onWorkspace();
		}
	});
	
}


function getNetwork(){
	//TODO
	//consider changing trigger to onkeyup or fix cancel
	var edgeInput = document.getElementById('edgeCount');
	var nodeInput = document.getElementById('nodeCount');
	var edgeCount = $(edgeInput).val();
	var nodeCount = $(nodeInput).val();
	if(!edgeCount) { 
		$(edgeInput).val(15);
		edgeCount = 15;
	}
	if(!nodeCount) { 
		$(nodeInput).val(15);
		nodeCount = 15;
	}
	
	$(ndexClient.getNetworkByEdges(networkRID, '', '', '', '', edgeCount, 0, function(data) {
		$('#edges').html('');
		$.each(data.network.edges, function(index, edge){
  			$('#edges').append(formatEdge(edge, data.network));
  		});
		},
		function(error){
			$('#error').append(formatError(error));
		})
	);
	$(ndexClient.getNetworkByNodes(networkRID, '', '', nodeCount, 0, function(data) {
		$('#nodes').html('');
		$('#viewNetTitle').html('');
		$('#viewNetTitle').append(data.network.title);
		
		$.each(data.network.nodes, function(index, node){
  			$('#nodes').append(formatNode(node, data.network));
  		});
		},
		function(error){
			$('#error').append(formatError(error));
		})
	);
}
//prevent settings dropdown from closing when an input form is clicked
$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
	e.stopPropagation();
});

getNetwork();

</script>



<% include foot.ejs %>
