<% include head.ejs %>
<% include nav.ejs %>


<div class="row-fluid">
	<div id="" class="span7">
		<div id = "image"> </div>
		<div id = "" class = "tabbable" > 
			<ul class="nav nav-tabs tab-title">
				<li class="active">
					<a href="#ownedNetworks" data-toggle="tab" class=""> Owned Networks </a>
				</li>
				<li>
					<a href="#groupMembers" data-toggle="tab" class=""> Members </a>
				</li>
				<li id ="showOwnedAgentAccounts" style="display:none">
					<a href="#ownedAgentAccounts" data-toggle="tab" class=""> Owned Agent Accounts </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="ownedNetworks"></div>
				<div class="tab-pane" id="groupMembers"></div>
				<div class = "tab-pane" id = "ownedAgentAccounts"> </div>
			</div>
		</div>
	</div>
	<div id="profile" class="span3">
		<h3 id = "name"> </h3>
		<p><a  id = "link" target = "_blank"> </a></p>
		<p id = "descrip"> </p>
		<div id = "notifications" class = "notifications" style="display:none">
			<div class = "notificationsHeader">
			Notifications
			</div>
			<div id = "notifContent" style = "background-color:white" >
			Requests
			</div>
		</div>
	</div>
	<div class = "span2 dropdown">
			<a class = "ndex-options dropdown-toggle" data-toggle="dropdown"> 
				<i class="icon-cog icon-large"></i> 
			</a>
			<ul class="dropdown-menu">
				<li id=""></li>
				<li> <a href = "#displayOptions" data-toggle = "modal" > Display Options </a></li>
				<li> <a href = "/editGroupProfile" class = "accountMiniMenu" style="display:none"> Edit Group Profile </a></li>
				<li> <a href = "#" class = "accountMiniMenu" style="display:none"> New Group Profile Image </a></li>
				<li> <a href = "#" class = "accountMiniMenu" style="display:none"> New Background Image </a></li>
				<li> <a href = "/sendRequest" class = "accountMiniMenu" style="display:none"> Create a Request </a></li>
				<li> <a href = "/editAgent" class = "accountMiniMenu" style="display:none"> Edit/Create Agent </a></li>
			</ul>
	</div>
	<div id="error"></div>
</div>

<!--- Modal for Display Options ---->
<div id = "displayOptions" class = " modal hide fade" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
	<div class = "modal-header">
		<h4 id = "myModalLabel"> Network Search Options </h4>
	</div>
	<div class="modal-body">
		
		In progress
		
	</div>
	<div class = "modal-footer">
		<button class = "btn" onclick = "" data-dismiss = "modal" aria-hidden = "true"> Save Changes </button>
		<button class = "btn" data-dismiss = "modal" aria-hidden = "true"> Cancel </button>
	</div>
</div>

<script>

// the group id passed from the ejs template
var groupJID = '<%= groupId %>';

// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});


function formatError(error){
	
}


function updateWorkspaceTools(jid){
//this is not in ndexUI.js because viewNetwork has a different version
	var tempLink = document.getElementById('link'+jid),
		tempIcon = document.getElementById('icon'+jid);

	isOnWorkspace(jid, function(found) {
		if (found) {
			$(tempLink).attr('onclick','removeFromWorkspace(this)');//
			$(tempIcon).attr('title','Remove from Workspace');
			tempIcon.className='icon-remove';
		}
		else{
			$(tempLink).attr('onclick','addToWorkspace(this)');
			$(tempIcon).attr('title','Add to Workspace');
			tempIcon.className='icon-plus icon-white';
		}
	});
}



//----------------------------/
if(isSignedIn()){// && isOwnedGroup(groupJID)){  <---waiting for fix on xownsgroup edge
	//$('#showGroups').attr('style', 'display:block');
	//$('#showOwnedAgentAccounts').attr('style', 'display:block');
	$('#notifications').attr('style', 'display:block');
	$('.accountMiniMenu').attr('style', 'display:block');
	$('#showOwnedAgentAccounts').attr('style', 'display:block');

}


//----------------------------//


$(ndexClient.getGroup(groupJID, function(data){
		console.log("Got results from getGroup");
		console.log(data);
	
  		
  		$.each(data.group.profile, function(index, item){
			addElements(item, index);
			//$('#profile').append(index + ' ' );
		});  

  		
  		$.each(data.group.ownedNetworks, function(index, network){
  			$('#ownedNetworks').append(formatNetworkDescriptor(network));
  		});

    },
    // error handler
    function(error){
    	$('#error').append(formatError(error));
    })
);


$('#notifContent').append(addInvite('group1','G1'))
			.append(createModal('group1','G1'))
			.append(addInvite('group2','G2'))
			.append(createModal('group2','G2'));
			
</script>

<% include sidebar.ejs %>
<% include foot.ejs %>
