<% include head.ejs %>
<% include nav.ejs %>



<div class="tabbable">
	<div class="pageTitle">
		<div class="btn-group" > 
			<h4 id = "viewNetTitle"> Network Title </h4>
		</div>
		<div class="dropdown pull-right">
			<a class = "ndex-options" href="../visualizeNetwork/<%= networkId %>" > 
				<i class="icon-eye-open icon-large"></i> 
			</a>
			<a class = "ndex-options dropdown-toggle" href="javascript:void(0)" onclick="updateWorkspaceTools('<%= networkId %>')" data-toggle="dropdown"> 
				<i class="icon-cog icon-large"></i> 
			</a>
			<ul class="dropdown-menu">
				<li id="netStatus"></li>
				<li> <a href = "#networkDisplay" data-toggle="modal"> Network Display </a></li>
				<li> <a href ="#" class = "networkMiniMenu" style = "display:none"> Edit Network MetaData </a> </li>
				<li> <a href ="#" class = "networkMiniMenu" style = "display:none"> Edit Network Permissions </a> </li>
				<li> <a href ="#" class = "networkMiniMenu" style = "display:none"> Publish Network </a> </li>
			</ul>
		</div>
			
	</div>
	<ul class="nav nav-tabs tab-title">
		<li class="active">
			<a href="#edges" data-toggle="tab" class="span5">Edges </a>
		</li>
		<li>
			<a href="#nodes" data-toggle="tab" class="span5"> Nodes </a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="edges"></div>
		<div class="tab-pane" id="nodes"></div>
	</div>
</div>
	<div id="error"></div>
	
	
<!-- //network display modal -->

<div id = "networkDisplay" class = " modal hide fade" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
	<div class = "modal-header">
		<h4 id = "myModalLabel"> Network Display Options </h4>
	</div>
	<div class="modal-body">
		<form> 
		<strong> Nodes </strong> <br>
		<label class = "span2">Nodes per page: </label>
		<input id = "nodeCount" type = "text" class = "span2" pattern = "" min = "1"> <br>
		<label class = "span2">Current page: </label>
		<input id = "nodePage" type = "text" class = "span2" pattern = "" min = "1" placeholder = "0"> <br>
		<strong> Edges </strong> <br>
		<label class = "span2">Edges per page: </label>
		<input id = "edgeCount" type = "text" class = "span2" pattern = "/^[0-9]+$/" min = "1"> <br>
		<label class = "span2">Current page: </label>
		<input id = "edgePage" type = "text" class = "span2" pattern = "" min = "1" placeholder = "0"> <br>
		</form> 
	</div>
	<div class = "modal-footer">
		<button class = "btn" onclick = "getNetwork()" data-dismiss = "modal" aria-hidden = "true"> Save Changes </button>
		<button class = "btn" data-dismiss = "modal" aria-hidden = "true"> Cancel </button>
	</div>
</div>
<script>


// the network id passed from the ejs template
var networkRID = '<%= networkId %>';
var thisNetwork = {jid : networkRID}; //object to be used for workspace functions

function formatError(error){

}

function formatEdge(edge, network){
	var edgeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		subjectSpan = document.createElement('span'),
		predicateSpan = document.createElement('span'),
		objectSpan = document.createElement('span'),
		subject = network.nodes[edge.s],
		object = network.nodes[edge.o],
		predicate = network.terms[edge.p]; 
		
	console.log(subject.represents + " : " + JSON.stringify(network.terms[subject.represents]));
	if (subject.represents && network.terms[subject.represents]){
		var term = network.terms[subject.represents];
		$(subjectSpan).addClass('term').html(term.name + ' ');
	}
	
	console.log(object.represents + " : " + JSON.stringify(network.terms[object.represents]));
	if (object.represents && network.terms[object.represents]){
		var term = network.terms[object.represents];
		$(objectSpan).addClass('term').html(' ' + term.name);
	}

	$(idSpan).addClass('edgeId').html(edge.id);
	//$(subjectSpan).addClass('nodeName').html(subject.name);
	//$(objectSpan).addClass('nodeName').html(object.name);
	$(predicateSpan).addClass('predicateName').html(predicate.name);

	
		
	$(edgeDIV).addClass('edge row-fluid')
			  .append(idSpan)
			  .append(subjectSpan)
			  .append(predicateSpan)
			  .append(objectSpan);
			  
	return edgeDIV;
}


function formatNode(node, network){
		
	var nodeDIV = document.createElement('div'),
		idSpan = document.createElement('span'),
		nameSpan = document.createElement('span');
	
	$(idSpan).addClass('nodeId').html(node.id);
	$(nameSpan).addClass('nodeName').html(node.name);
	
	$(nodeDIV).addClass('node')
			  .append(idSpan);
			  //.append(nameSpan);

	console.log(node.represents + " : " + JSON.stringify(network.terms[node.represents]));
	if (node.represents && network.terms[node.represents]){
		var term = network.terms[node.represents],
			representsSpan = document.createElement('span');
		$(representsSpan).addClass('term').html(term.name);
		$(nodeDIV).append(representsSpan);
	}
	
	return nodeDIV;

}

//--------------------------------------------	
//		Workspace Functions
//--------------------------------------------
 if (isSignedIn()) { 

	function updateWorkspaceTools(jid){
		var tempEle = document.getElementById('netStatus');
		var tempLnk = document.createElement('a');
		$(tempEle).html('');
		$(tempLnk).data('networkProperties', thisNetwork);

		isOnWorkspace(jid, function(found) {
			if (found) {
				$(tempLnk).attr('onclick','removeFromWorkspace(this)').html('Remove from Workspace');
				$(tempEle).append(tempLnk);
			}
			else{
				$(tempLnk).attr('onclick','addToWorkspace(this)').html('Add to Workspace');
				$(tempEle).append(tempLnk);
			}
		});
	
	}

} //close if is signed in conditional


function getNetwork(){
	getNodes();
	getEdges();
}

function getNodes(nodePage){
	var nodeInput = document.getElementById('nodeCount');
	var nodeCount = $(nodeInput).val();
	
	if(!nodePage) { nodePage = $('#nodePage').val(); }

	if(!nodeCount) { 
		$(nodeInput).val(15);
		nodeCount = 15;
	}
	if(!nodePage) { nodePage = 1; }
	
	$('#nodePage').val(nodePage);
	nodePage = nodePage -1;
	
	$(ndexClient.getNetworkByNodes(networkRID, '', '', nodeCount, nodePage, function(data) {
		$('#nodes').html('');
		$('#viewNetTitle').html('');
		$('#viewNetTitle').append(data.network.title);
		thisNetwork.title = data.network.title;
		
		$.each(data.network.nodes, function(index, node){
  			$('#nodes').append(formatNode(node, data.network));
  		});
  		
  		$('#nodes').append(createPaginationModule(data.network.blockAmount, nodePage, 'getNodes'));
  		$('#nodePage').attr('placeholder', 'max value: ' + data.network.blockAmount);
		},
		function(error){
			$('#error').append(formatError(error));
		})
	);
}

function getEdges(edgePage){
	var edgeInput = document.getElementById('edgeCount');
	var edgeCount = $(edgeInput).val();
	
	if(!edgePage) { edgePage = $('#edgePage').val(); }

	if(!edgeCount) { 
		$(edgeInput).val(15);
		edgeCount = 15;
	}
	if(!edgePage) { edgePage = 1; }
	
	$('#edgePage').val(edgePage);
	edgePage = edgePage - 1;
	
	$(ndexClient.getNetworkByEdges(networkRID, '', '', '', '', edgeCount, edgePage, function(data) {
		$('#edges').html('');
		$.each(data.network.edges, function(index, edge){
  			$('#edges').append(formatEdge(edge, data.network));
  		});
  		
  		$('#edges').append(createPaginationModule(data.network.blockAmount, edgePage, 'getEdges'));
  		$('#edgePage').attr('placeholder', 'max value: ' + data.network.blockAmount);
		},
		function(error){
			$('#error').append(formatError(error));
		})
	);
}

//ownedNetwork





//prevent settings dropdown from closing when an input form is clicked
$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
	e.stopPropagation();
});

getNetwork();
setTimeout( function(){
		if(isSignedIn() && isOwnedNetwork(networkRID)){
			$('.networkMiniMenu').attr('style', 'display:block');
		}
	},
	1000
);
</script>


<% include sidebar.ejs %>
<% include foot.ejs %>
