<% include head.ejs %>
<% include nav.ejs %>


<div class="row-fluid">
	<div id="" class="span7">
		<div id = "image"> </div>
		<div id = "" class = "tabbable" > 
			<ul class="nav nav-tabs tab-title">
				<li class="active">
					<a href="#ownedNetworks" data-toggle="tab" class=""> Owned Networks </a>
				</li>
				<li>
					<a href="#ownedGroups" data-toggle="tab" class=""> Owned Groups </a>
				</li>
				<li id = "showGroups" style="display:none">
					<a href="#groups" data-toggle="tab" class=""> Groups </a>
				</li>
				<li id ="showOwnedAgentAccounts" style="display:none">
					<a href="#ownedAgentAccounts" data-toggle="tab" class=""> Owned Agent Accounts </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="ownedNetworks"></div>
				<div class="tab-pane" id="ownedGroups"></div>
				<div class = "tab-pane" id = "groups"> </div>
				<div class = "tab-pane" id = "ownedAgentAccounts"> </div>
			</div>
		</div>
	</div>
	<div id="profile" class="span3">
		<h3 id = "name"> </h3>
		<p><a  id = "link" target = "_blank"> </a></p>
		<p id = "descrip"> </p>
		<div id = "notifications" class = "notifications" style="display:none">
			<div class = "notificationsHeader">
			Notifications
			</div>
			<div id = "notifContent" style = "background-color:white" >
			Requests
			</div>
		</div>
	</div>
	<div class = "span2 dropdown">
			<a class = "ndex-options dropdown-toggle" data-toggle="dropdown"> 
				<i class="icon-cog icon-large"></i> 
			</a>
			<ul class="dropdown-menu">
				<li id=""></li>
				<li> <a href = "#displayOptions" data-toggle = "modal" > Display Options </a></li>
				<li> <a href = "#" class = "accountMiniMenu" style="display:none"> Edit Profile </a></li>
				<li> <a href = "#" class = "accountMiniMenu" style="display:none"> New Profile Image </a></li>
				<li> <a href = "#" class = "accountMiniMenu" style="display:none"> New Background Image </a></li>
				<li> <a href = "#" class = "accountMiniMenu" style="display:none"> Create a Request </a></li>
				<li> <a href = "#" class = "accountMiniMenu" style="display:none"> Edit/Create Agent </a></li>
			</ul>
	</div>
	<div id="error"></div>
</div>

<!--- Modal for Display Options ---->
<div id = "displayOptions" class = " modal hide fade" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
	<div class = "modal-header">
		<h4 id = "myModalLabel"> Network Search Options </h4>
	</div>
	<div class="modal-body">
		
		In progress
		
	</div>
	<div class = "modal-footer">
		<button class = "btn" onclick = "" data-dismiss = "modal" aria-hidden = "true"> Save Changes </button>
		<button class = "btn" data-dismiss = "modal" aria-hidden = "true"> Cancel </button>
	</div>
</div>



<script>
//TODO
//update notifcations div to use boostrap collapse css
//work on modal css
//update href relative urls for networks

// the user id passed from the ejs template
var userJID = '<%= userId %>';


// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
} 

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});


function formatError(error){
	
}

function addInvite(name,id){
	var modalTrigger = document.createElement('a');		
	var list = document.createElement('li');
	var unlist = document.createElement('ul');
	
	$(modalTrigger)
		.addClass('unread')
		.attr('href','#modal'+id)
		.attr('data-toggle','modal')
		.attr('id','trigger'+id)
		.append(name);
	
	$(list).append(modalTrigger);
	$(unlist).attr('id','triggerParent'+id).addClass("nav nav-list").append(list);
	
	return unlist;
}

function respondInvite(obj){
	var pageLink = document.getElementById('trigger' + obj.title);
	var linkParent = document.getElementById('triggerParent' + obj.title);
	var modal = document.getElementById('modal' + obj.title);
	var notifContent = document.getElementById('notifContent');
	
	if (obj.id == 'postpone'){
		pageLink.className ='read';
		//modal.removeChild(obj);
	}
	if (obj.id == 'accept'){
		notifContent.removeChild(linkParent);
	}
	if (obj.id == 'deny'){
		notifContent.removeChild(linkParent);
	}	
}

function createModal(name,id){
	var inviteModal = document.createElement('div'),
		modalHeader = document.createElement('div'),
		modalBody = document.createElement('div'),
		modalFooter = document.createElement('div'),
		title = document.createElement('h4'),
		accept = document.createElement('button'),
		postpone = document.createElement('button'),
		deny = document.createElement('button');
		
	//Modal body
	var topDiv = document.createElement('div'),
		infoDiv = document.createElement('div'),
		infoDiv2 = document.createElement('div'),
		picDiv = document.createElement('div'),
		messageDiv = document.createElement('div'),
		headerSpan = document.createElement('span'),
		contSpan = document.createElement('span'),
		subjectSpan = document.createElement('span');
	
	//once server-side script is completed, variable declaration and initialization will be done inside of .each(data.request) etc. 
	$(headerSpan).addClass('span3 requestModalLabel').html('From:');//plan to include from, date, groupname, memberType
	$(contSpan).addClass('span7').html('Dexter');
	$(infoDiv2).addClass('row-fluid').append(headerSpan).append(contSpan);
	
	
	$(infoDiv).addClass('span7').append(infoDiv2);
	$(picDiv).addClass('span5').append('picture here');
	$(topDiv).addClass('row-fluid').append(infoDiv).append(picDiv);
	
	$(subjectSpan).addClass('').append('subject');
	$(messageDiv).addClass('notifications').append('message');
	
	//-----------
	$(title).attr('id','modal'+id+'Label')
		.append('Join my Group on NDEx');
	
	$(accept).addClass('btn')
		.attr('title',id)
		.attr('id','accept')
		.attr('data-dismiss','modal')
		.attr('aria-hidden','true')
		.attr('onclick','respondInvite(this)')
		.append('Accept');
	$(postpone).addClass('btn')
		.attr('title',id)
		.attr('id','postpone')
		.attr('onclick','respondInvite(this)')
		.attr('data-dismiss','modal')
		.attr('aria-hidden','true')
		.append('Postpone');
	$(deny).addClass('btn')
		.attr('title',id)
		.attr('id','deny')
		.attr('data-dismiss','modal')
		.attr('aria-hidden','true')
		.attr('onclick','respondInvite(this)')
		.append('Deny');	
		
	$(modalHeader).addClass('modal-header')
		.append(title);
	$(modalBody).addClass('modal-body')
		.append('test'+id)
		.append(topDiv)
		.append(subjectSpan)
		.append(messageDiv);
		
	$(modalFooter).addClass('modal-footer')
		.append(accept)
		.append(postpone)
		.append(deny);
	
	$(inviteModal).addClass('modal hide fade')
		.attr('id','modal'+id)
		.attr('tabindex','-1')
		.attr('role','dialog')
		.attr('aria-labelledby','modal' + id + 'label')
		.attr('aria-hidden','true')
		.append(modalHeader).append(modalBody).append(modalFooter);
	
	return inviteModal;
	
}	


function addElements(item, index){
	var header = document.getElementById('name'),
		link = document.getElementById('link'),
		descrip = document.getElementById('descrip'),
		imgDiv = document.getElementById('image'),
		image = document.createElement('img');

	if ((index == "firstName") || (index == "lastName")){
		$(header).append(item + ' ');
	}

	if (index == "website") {
		$(link).attr('href','http://www.triptychjs.com')
			.attr('target','_blank')
			.append('Check out my website');
	}

	if (index == "description") {
		$(descrip).append(item);
	}
	
	if (index =="backgroundImg") {
		var fImg = document.getElementById("foreground");
		$(image).attr('src',"../img/background/" + item);
		$(image).addClass('bckImg');
		$(imgDiv).append(image).append(fImg);
	}
	
	if (index =="foregroundImg") {
		$(image).attr('id','foreground')
			.attr('src',"../img/foreground/" + item);
		$(image).addClass('foreImg');
		$(imgDiv).append(image);
	}
}

function isOwnedNetwork(jid){
	var owned = false;
	$.each(user.ownedNetworks, function(index, network){
		if (network.jid == jid) {
			owned = true;
			return false;
		}
	});
	return owned;
}

function isSharedNetwork(jid){
	var shared = false

	//TODO shared network implementation?

	return shared;
}
//---------------------------------
//	Workspace Functions
//---------------------------------


function onWorkspace(jid){
	//check if network is on the user workspace.  
	var tempLink = document.getElementById('link'+jid),
		tempIcon = document.getElementById('icon'+jid),
		found = false;
	
	
	$("input").each(function(index,value){
		if($(this).attr('title') == jid) {
			$(tempLink).attr('onclick','removeFromWorkspace(this)');//
			$(tempIcon).attr('title','Remove from Workspace');
			tempIcon.className='icon-remove';
			found = true;
		}
	});
	
	if(found)return;
	
	$(tempLink).attr('onclick','addToWorkspace(this)');
	$(tempIcon).attr('title','Add to Workspace');
	tempIcon.className='icon-plus icon-white';
}

function removeFromWorkspace(obj){
	//$(obj).attr('title') holds the corresponding network jid
	var network = $(obj).data('networkProperties');
	var parent = document.getElementById('workSurface');

	$("input").each(function(index,value){
		if($(this).attr('title') == network.jid){
			ndexClient.deleteNetworkFromUserWorkspace(user.jid, network.jid, function(data) {});
			var child = document.getElementById('thumbnail' + network.jid);
			parent.removeChild(child);
			onWorkspace(network.jid);
		}
	});
	
}

function addToWorkspace(obj){
	//$(obj).attr('title') holds the corresponding network jid
	var network= $(obj).data('networkProperties');

	ndexClient.addNetworkToUserWorkspace(user.jid, network.jid, function(data) {});
	var unlst = document.createElement('ul'),
		lst = document.createElement('li'),
		cnt = document.createElement('div'),
		formBox = document.createElement('form'),
		chckbox = document.createElement('input'),
		titleSpan = document.createElement('p');
	var parent = document.getElementById('workSurface');
		
	$(titleSpan).addClass('thumbText')
		.append(network.title);//
	$(chckbox).attr('id','checkbox' + network.jid)
		.attr('title',network.jid)
		.attr('type','checkbox');
	$(formBox).append(chckbox);
	$(cnt).addClass('thumbnail thumbIcon')
		.append(formBox)
		.append(titleSpan);
	$(lst).append(cnt);
	$(unlst).attr('id','thumbnail' + network.jid)
		.addClass('thumbnails')
		.append(lst);
	
	$(parent).append(unlst);
	onWorkspace(network.jid);
}

//------------------------------------
//	Network List Interface
//--------------------------------------
function toggle(obj) {
	var divDisplay = obj.id +1;
	var ele = document.getElementById(divDisplay);
	var but = document.getElementById(obj.id +2);
	if(ele.style.display == "block") {
		ele.style.display = "none";
		but.className = 'icon-chevron-right';
	}
	else {
		ele.style.display = "block";
		but.className = 'icon-chevron-down';
	}
	
	onWorkspace($(obj).attr('title'));
}

//actions for network upon dropdown
function buttonTools(item){
	var buttonDiv = document.createElement('div'),
		wkSpaceLink=document.createElement('a'),
		viewLink=document.createElement('a'),
		visualizeLink=document.createElement('a'),
		wkSpaceIcon=document.createElement('i'),
		viewIcon=document.createElement('i'),
		visualizeIcon=document.createElement('i'),
		shareLink = document.createElement('a'),
		shareIcon = document.createElement('i'),
		accessLink = document.createElement('a'),
		accessIcon = document.createElement('i');
		
	$(wkSpaceIcon).addClass('icon-plus')
		.attr('id','icon'+item.jid)
		.attr('rel','tooltip')
		.attr('title','Add to Workspace')
		.attr('data-placement','bottom');
	$(viewIcon).addClass('icon-folder-open');
	$(visualizeIcon).addClass('icon-eye-open');
	$(shareIcon).addClass('icon-share');
	$(accessIcon).addClass('icon-exchange');
	

	
	$(wkSpaceLink).attr('onclick','')
		.data('networkProperties',{title : item.title, jid : item.jid})
		.attr('id','link'+item.jid)
		.addClass('btn')
		.append(wkSpaceIcon);
	$(viewLink).attr('href','../../viewNetwork/' + item.jid)
		.addClass('btn')
		.attr('rel','tooltip')
		.attr('title','View Network')
		.attr('data-placement','bottom')
		.append(viewIcon);
	$(visualizeLink).attr('href','../../visualizeNetwork/' + item.jid)
		.addClass('btn')
		.attr('rel','tooltip')
		.attr('title','VisualizeNetwork')
		.attr('data-placement','bottom')
		.append(visualizeIcon);
	$(shareLink).attr('href','#')
		.addClass('btn')
		.attr('rel', 'tooltip')
		.attr('title', 'Share Network')
		.attr('data-placement', 'bottom')
		.append(shareIcon);
	$(accessLink).attr('href', '#')
		.addClass('btn')
		.attr('rel', 'tooltip')
		.attr('title', 'Request Network Access')
		.attr('data-placement', 'bottom')
		.append(accessIcon);
		
	if (isSignedIn()) {
		$(buttonDiv).append(wkSpaceLink);
		if (isOwnedNetwork(item.jid)) {	
			$(buttonDiv).append(shareLink);
		}
		if (!isOwnedNetwork(item.jid) && !isSharedNetwork(item.jid)){
			$(buttonDiv).append(accessLink);
		}
	}
		
	$(buttonDiv).addClass('btn-group')
		.append(viewLink)
		.append(visualizeLink);

	return buttonDiv
}

function tableHead(){
    var mainDiv = document.createElement('div'),
        mainTable = document.createElement('table'),
        mainTblBody = document.createElement('tbody'),
        mainRow = document.createElement('tr'),
        mainCell = document.createElement('th');

    $(mainCell).addClass('span9').html("Available Networks");

    $(mainRow).addClass('success').append(mainCell);
    $(mainTblBody).append(mainRow);
    $(mainTable).addClass('table').append(mainTblBody);
    $(mainDiv).append(mainTable);

    return mainDiv;

}

function formatNetworkDescriptor(item){
	var networkDIV = document.createElement('div'),
		nodeSpan = document.createElement('span'),
		edgeSpan = document.createElement('span'),
		titleSpan = document.createElement('span'),
		iconSpan = document.createElement('span'),
		divButton = document.createElement('i'),
		networkLink = document.createElement('a'),
		buttonLink = document.createElement('a'),
		infoDiv = document.createElement('div');

	$(divButton).attr('rel','tooltip')
			.attr('title','More Info')
			.attr('id',item.title + 2)
			.addClass('icon-chevron-right');

	$(infoDiv).addClass('searchInfo').attr('id',item.title + 1)
					.attr('style','display: none')
					.append(buttonTools(item));	

	$(buttonLink).attr('id',item.title)
			.attr('title',item.jid)
			.attr('onClick', 'toggle(this)')
			.append(divButton);

	  
	$(networkLink).attr('href','../../viewNetwork/' + item.jid).append(item.title);
	$(nodeSpan).addClass('span2 elementCount').append(item.nodeCount + " nodes"); 
	$(edgeSpan).addClass('span2 elementCount').append(item.edgeCount + " edges"); 
	$(titleSpan).addClass('span4 networkTitle').append(networkLink); 
	$(iconSpan).addClass('span1').append(buttonLink);   
	
        
    var li = document.createElement('li');
    var ul = document.createElement('ul');
    var a = document.createElement('a');
        
    $(networkDIV).addClass('row-fluid').append(iconSpan).append(titleSpan).append(nodeSpan).append(edgeSpan);
    $(a).attr('style','color:black').append(networkDIV).append(infoDiv);
        
    $(li).append(a);
    $(ul).addClass("nav nav-list").append(li);

	return ul;//networkDIV;

}


//----------------------------/
if(isSignedIn() && (user.jid === userJID)){
	$('#showGroups').attr('style', 'display:block');
	$('#showOwnedAgentAccounts').attr('style', 'display:block');
	$('#notifications').attr('style', 'display:block');
	$('.accountMiniMenu').attr('style', 'display:block');

}


//----------------------------//

$(ndexClient.getUser(userJID, function(data){
		console.log("Got results from getUser");
		console.log(data);
	
  		$.each(data.user.profile, function(index, item){
			addElements(item, index);
			//$('#profile').append(index + image);
		});  
		
  		
  		$.each(data.user.ownedNetworks, function(index, network){
  			$('#ownedNetworks').append(formatNetworkDescriptor(network));
  		});

    },
    // error handler
    function(error){
    	$('#error').append(formatError(error));
    })
);

$('#notifContent').append(addInvite('group1','G1'))
			.append(createModal('group1','G1'))
			.append(addInvite('group2','G2'))
			.append(createModal('group2','G2'));
			
</script>

<% include sidebar.ejs %>
<% include foot.ejs %>
